/* ulo hotels home page media query begins */
@media (min-width: 320px) and (max-width: 767px) {
	select{
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}
.ribbonpropgress {
	margin-left:10px;
}
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
    color:#a9e006;
}
.ripple:hover {
  background: #042649 radial-gradient(circle, transparent 1%, #042649 1%) center/15000%;
  color:#a9e006;
}
.ripple:active {
  background-color: #a9e006;
  background-size: 100%;
  transition: background 0s;
}
.banner .mbbanner{
width:100%;
height:200px;
}	
.desktopsearch{
display:none;
}
/* home page exclussive */
.homeexclusive .crownimage{
display:block;
margin:0 auto;
height:100px;
background-color: #ffffff50;
-webkit-box-shadow: 0 0 10px #e2e2e2;
box-shadow: 0 0 10px #e2e2e2;
/* border-radius:100px; */
}
.mobilehomelogo{
position: absolute;
   top: 0%;
   margin:10%;
}
.mobilehomelogo img{
	height:50px;
}
.mobilehomelogo h5{
font-size:14px;
text-align:center !important;
width:100%;
color:#fff;
}
.mobilehomelogo h5{
font-size:14px;
text-align:center !important;
width:100%;
color:#fff;
font-weight:bold;
}
.banner{
display:block;
position: relative; 
z-index: -1;
}
.mobilesearchbackground{
background-color:#042649;
padding:5px;

}
.mobilesearchbackground .mobilehomecoupon h4{
font-size:16px;
color:#ffffff;
text-align:center;
padding:5px;
}
.mobilesearchbackground .mobilehomecoupon .hcicon{
color:#a9e006;
}
.mobilesearchbackground .mobilehomecoupon img{
padding:5px;
}
.mobilehomesearch{
color:#000000;
border:none;
font-size:12px;
font-family:Arial;
text-align:justify;
background-color:transparent;
box-shadow:none;
background-color:#ffffff;
border:1px solid #666666;
padding:5px;
margin-top:-20%;
z-index:1;
border-radius:10px;
-webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;

  
}
.mobilehomesearch .form-control{
border:none;
 -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mobilehomesearch .mbsearchborder{

border-bottom:1px solid #666666;
}
.mobilehomesearch .mbcheckin{
font-size:14px;
color:#000;
text-align:center;
padding:0px 0px;
overflow:hidden;
}
.mobilehomesearch .mbcheckout{
font-size:14px;
color:#000;
text-align:center;
padding:0px 0px;
overflow:hidden;
}
.mobilehomesearch .mbsdate{
	display:block;
	margin:15px auto;
}
.mobilehomesearch .form-control:focus{
 outline:0px !important;
    -webkit-appearance:none !important;
	box-shadow:none !important;
}
.mobilehomesearch .form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
    box-shadow:none;
    
}
.mobilehomesearch .mbsearchborder img{
position: absolute;
 top: 10px;
 left: 15px;
}
.mobilehomesearch #ex1_dropdown{
	background-color:#ffffff;
	color:#666666 !important;
	height:150px;
	overflow:scroll;
	overflow-x:hidden;
	padding:5px;
	z-index:2;
	position:relative;

}
.mobilehomesearch #ex1_value{
	border:none;
	box-shadow:none;
	width:100%;
	padding-bottom:5px;
	padding-left:25px;
}
.mobilehomesearch .angucomplete-title:hover{
	color:#a9e006;
}
.mobilehomesearch .mbcheckinlable{
color:#a9e006;
font-size:10px;
text-align:center;
width:100%;
margin-bottom:0;
}
.mobilehomesearch .mbhomebtn{
width:100%;
background-color:#a9e006;
color:#042649;
border-radius:25px;
}
.bannerlocation button {
	border:none;
	color:#a9e006;
	box-shadow:none;
}
.bannerlocation .bannerlocationlink{
border:none;
}
.bannerlocation .drawlocation{
	box-shadow:none;
	border:none;
	font-size:12px;
	color:#ffffff;
}
.fivebs img{
	width:60px;
	height:60px;
}
.fivebs h6{
font-size:8px;
margin-top:0px;
margin-bottom:3px;
text-align:center;
}
.hometopcity .homecityscroll{
  width: 300px;
  height: 100px;
  overflow-x: scroll;
    overflow-y: hidden;
    
}
.hometopcity .homecityscroll li { 
	margin: 0 10px; 
float:left;


 }
 .hometopcity .homecityscroll ul { 
list-style: none outside none;
 margin:0;
  padding: 0;
   text-align: center; 
   width:600px;
 }
.hometopcity .homecityscroll{
	text-align:Center;
}
.hometopcity h4{
	font-size:16px;
	font-weight:bold;
}
.fivebs h4{
	font-size:16px;
	font-weight:bold;
}
.homeexclusive h4 {
	font-size:16px;
	font-weight:bold;
}
.homeexclusive{
	padding:5px;
}
.hometopcity .roundcity{
display: block;
    margin: 0 auto;
	width:60px;
	height:60px;
	border:3px solid #cccccc;
	
}
.locationcontainer .middle {
display:none;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.copyrights {
	display:none;
}
.mobilecopy p{
	color:#333333;
	font-size:9px;
	text-align:center;
	padding:5px;
	margin:5px;
}
.mobilesocial {
	text-align:center;
	border-bottom:1px solid #999999;
	padding:10px;
}
.mobilesocial a{
	text-align:center;
	color:#333333;
	 border-radius: 100%;
  border: 1px solid #333333;
  padding: 6px 6px;
  margin-right:1%;
}
.explorebtndiv{	
color:#a9e006;
border:none !important;
margin:0 auto;
display:block;
width:100%;
box-shadow:none;
}
#exploreAll{
	display:none;
}
.msidemenu .list-group-item{
	border-bottom:1px solid #333;
}
.msidemenu .modal-header{
	border:none;
}
.middle-header .nav-counter {
    float: right;
    padding-top: 0rem; 
}
.desktopfooter{
	display:none;
}
/* datepicker */
.datepicker{
display:none;
}
.dp-highlight .ui-state-default {
          background: #484; 
          color: #FFF;
        }
        .ui-datepicker.ui-datepicker-multi  {
          width: 50% !important;
		 margin: 0 30px auto !important;
		  display:block;
		  z-index:1;
        }
        .ui-datepicker-multi .ui-datepicker-group {
        float:left;
        }
        #datepicker {
		  
          height: 300px;
          overflow-x: scroll;
        }
.ui-widget { font-size: 100%; }

}
/* ipad responsive */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
 .desktopsearch{
	 top:15%;
 }
 .desktopsearch .Dhsearch {
    background: #9c9e9f;
    background-color: #fff;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

 }


}
/* desktop responsive */
@media (min-width: 768px) and (max-width: 1024px) {
.explorebtndiv{
	display:none;
} 
}

/* ulo hotels home page media query ends */
/* listing page for mobile  begins*/
@media (min-width: 320px) and (max-width: 767px) {
	
.mobilesearchmodal #ex1_dropdown{
	background-color:#ffffff;
	color:red !important;
	height:150px;
	overflow:scroll;
	overflow-x:hidden;
	padding:5px;
	z-index:2;
	position:relative;
		font-size:12px;

}
.mobilesearchmodal #ex1_value{
	border:none;
	box-shadow:none;
	width:100%;
	padding-bottom:5px;
	padding-left:5px;
	font-size:12px;
}
.mobilesearchmodal .angucomplete-title:hover{
	color:#a9e006;
}
.mobilesearchmodal .mobilesearchlist{
	background-color:#ffffff;
	    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.mobilesearchmodal .form-control{
border:none;
box-shadow:none;
font-size:12px;
}
.mobilesearchmodal .btnlistfloat{
	color:#fff;
	background-color:#042649;
	text-align:center;
	display:block;
	width:100%;
}
.mobilelistsearchbar{
	background-color:#042649;
	padding:5px;

}	
.mobilelistsearchbar img{
	margin:25px auto;
	display:block;
}	
.mobilelistsearchbar #ex1_dropdown{
	background-color:#ffffff;
	color:#666666 !important;
	height:150px;
	overflow:scroll;
	overflow-x:hidden;
	padding:5px;
	z-index:1052;
	position:relative;
		font-size:12px;

}
.mobilelistsearchbar #ex1_value{
	border:none;
	box-shadow:none;
	width:100%;
	padding-bottom:5px;
	padding-left:5px;
	font-size:12px;
}
.mobilelistsearchbar .angucomplete-title:hover{
	color:#a9e006;
}
.mobilelistsearchbar .mobilesearchlist{
	background-color:#ffffff;
	    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

	
}
.mobilelistsearchbar .width60{
	width:60%!important;
}
.mobilelistsearchbar .mobilesearchlist .form-control{
border:none;
box-shadow:none;
	pointer-events: none;
}
.mobilelistsearchbar .mobilesearchlist .mlsearch{
	font-size:9px;
	width:100%;
	text-transform:capitalize;
}
.mobilelistsearchbar .mobilesearchlist .mldateleft{
	width:50%;
	float:left;
}
.mobilelistsearchbar .mobilesearchlist .mldateright{
	width:50%;
	float:right;
}
.mobilelistsearchbar .mobilesearchlist .mldate{
	font-size:9px;
text-align:center;
display:block;

}
.mobilelistsearchbar .mobilesearchlist .form-control:focus{
 outline:0px !important;
    -webkit-appearance:none !important;
	box-shadow:none !important;
}
/* breadcrumb for mobile */
.listmobilebreadcrumb .mobilebreadcrumblist{
	color:#042649;
}
.listmobilebreadcrumb .mobilebreadcrumbactive{
	color:#666666;
}
.listmobilebreadcrumb .mobilelistpernight{
	color:#777777;
     font-size: 10px;
}
.mobilehotellistimage{
	height:130px;
	width:100%;
	padding:5px;
}
.fivepadding{
	padding-right:5px;
	padding-left:5px;
}
.zeropadding{
	padding-right:0px;
	padding-left:0px;
}
/* breadcrumb for mobile */
/* hotel details begins */
.mobilehotellist{
	padding:10px;
}
.mobilehotellist .mobilehotelrepeats{
	background-color:#ffffff;
			-webkit-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
		width:100%;
		padding-right:0px;
		padding-left:0px;
		margin-bottom:10px;
}
.mobilehotellist .deskroomleft{
	 position: absolute;
	 color:#ffffff;
    bottom: 5px;
    right: 5px;
	font-size:8px;
	 background: rgba(0, 0, 0, 0.5);
	padding:5px;
}
.mobilehotellist .listhoteltype{
	 position: absolute;
	 color:#ffffff;
    top: 5px;
    left: 5px;
	font-size:8px;
	 background: rgba(0, 0, 0, 0.5);
	padding:5px;
}
.mobilehotellist .mobilesecondpromolabel{
	background-image: linear-gradient(to right, #a9b4ff, #d5b9f4, #efc2e9, #fcd0e2, #ffe0e4);
	color: #042649;
	font-size:8px;
	padding:5px;
}
.mobilehotellist .listoffertoplast{
	margin-top:1%;
}
.mobilehotellist .mobiletimerlabel{
	padding:1px;
}
.mobilehotellist .mobiletimer{
		color: #666666;
	font-size:8px;

}
.mobilehotellist .deskroomimagepops{
		 position: absolute;
	 color:#ffffff;
    top: 5px;
    right: 5px;
	font-size:10px;
	 background: rgba(0, 0, 0, 0.5);
	padding:5px;
}
.mobilehotellist .mlhotelname{
	color:#042649;
    font-size:12px;
	text-transform:capitalize;
	display:block;
	font-weight:900;
}
.mobilehotellist .ribbonpropgress {
    width: 95%;
    margin-right:5px;
    /* float: right; */
}

.mobilehotellist .mlhotelplace{
	color:#666666;
    font-size:10px;
	text-transform:capitalize;
	font-weight:normal;
}
.mobilehotellist .fa-map-marker{
	color:#a9e006;
}
.mobilehotellist .mobilelistfirstoffer{
			background-image: linear-gradient(to right, #a9b4ff, #d5b9f4, #efc2e9, #fcd0e2, #ffe0e4);
	padding:2px;
	color:#042649;
	font-size:8px;
	font-weight:bold;
	width:100%;
	text-align:center;
   display:block;
}
.mobilehotellist .mobilelistsecondoffer{
		background-image: linear-gradient(to right, #a9b4ff, #d5b9f4, #efc2e9, #fcd0e2, #ffe0e4);
	padding:2px;
	color:#042649;
	font-size:8px;
	font-weight:bold;
	width:100%;
	text-align:center;
   display:block;
}
.mobilehotellist .mbreviewbtn{
	border:1px solid #74a901;
	color:#042649;

	 	background: linear-gradient(to left, #ffffff 70%, #a9e006 30%);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
       border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
  font-size:10px;

}
.mobilehotellist .excellantcolor{

	width:100%;
	color:#042649;
}
.mobilehotellist .mobilesploffer{
	color:#666666;
	padding: 2px;
    font-size: 10px;
    font-weight:bold;
}
.mobilehotellist .mobilelistsave{
	color:#a9e006;
		font-size:12px;
		display:block;
		text-align:right;
		margin-right:20px;
}
.listprice{
	float:right;
	padding-right:10px;
    display:block;
}
.mobilehotellist .mobileliststrike{
	color:#666666;
	font-size:12px;
	text-decoration: line-through;
}
.mobilehotellist .mobilelistprice{
	color:#042649;
	font-weight:bold;
	font-size:16px;
}
.mobilehotellist .mobilelistbooknow{
	background-color:#a9e006;
	color:#042649;
	float:right;
     padding-top:5px;
	 padding-bottom:5px;
	 padding-left:5px;
	 padding-right:5px;
	 		  border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
			  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	margin-right:5px;
	margin-bottom:5px;
	width:auto;
}

.mobilehotellist .mobilelistsoldout{
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	color:#e40606;
	margin-right:5px;
	width:auto;
	float:right;
	    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.mobilelistpopup .listhotelname{
	font-size:16px;
	font-weight:normal;
}
.mobilelistpopup .listhotellocation{
	font-size:16px;
	font-weight:normal;
}
.mobilelistpopup .deskpopprice{
	font-size:12px;
	font-weight:normal;
}
.mobilelistpopup .modal-header{
	padding:0px;
}
.mobilelistpopup .deskpopright .fas {
    margin-top: 100%;
}
.mobilelistpopup .deskpopleft .fas {
    margin-top: 100%;
}
.mbfiltersubmit{
	background-color:#a9e006;
	color:#042649;
	text-align:center;
	width:100%;
	margin:5px auto;
	
}
.mobilelistpopup .carousel-control.left {
    background-image: none !important;
    background: none;
}
.mobilelistpopup .carousel-control.left {
    background-image: none !important;
    background: none;
}
.listfloatingbox .btn{
	
	 background-color:#042649;
	 color:#ffffff;
	 text-align:center;
	display:block;
}
#Filtersortpopup .btmbselect{
	display:block;
	color:#666666;
	width:100%;
	background:#ffffff;
	text-align:left;
}
.listfloatingbox{
	 position:fixed;
	 background-color:#042649;
	 color:#ffffff;
  bottom:0px;
  width:100%;
	   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.mroomdrop{
		border:1px solid #042649;
	    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size:14px;
     float: left;
     overflow: hidden;
    background: url(../images/down-arrow.png) 88% center no-repeat;
    display: inline-block;
    text-align: center;
    margin-left: 10px
}
.mroomperson .form-control{
	border:1px solid #042649;
	    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
  
    font-size:13px;
    padding:0px;
	
}	
.mroomperson .mrcount{
	border:1px solid #042649;
	    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width:100%;
    font-size:12px;
    padding-left:5px;
	color:#a9e006;
	  overflow: hidden;
    background: url(../images/down-arrow.png) 88% center no-repeat;
    display: inline-block;
    text-align: center;

}						
.mroomperson .mgbox{
		border:1px solid #042649;
	    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}						
.mroomperson .mguestcountbox{
  border:none;
  height:34px;
  border-radius:0px;
  padding:0px;	
  background-color:#ffffff;
    font-size:12px;
    width:49%;
	color:#042649;
	  overflow: hidden;
    background: url(../images/down-arrow.png) 88% center no-repeat;
    display: inline-block;
    text-align: center;
  
}
.mroomperson .mguestcountboxchild{
  border:none;
  height:34px;
  border-radius:0px;
  padding:0px;	
  background-color:#ffffff;
    font-size:12px;
    width:48%;
	color:#042649;
	  overflow: hidden;
    background: url(../images/down-arrow.png) 88% center no-repeat;
    display: inline-block;
    text-align: center;
  
}					
.dcouponpopup{
	padding:5px;
}	
/* hotel details ends */
}
/* listing page for mobile  begins*/
/* media query for login */
@media (min-width: 320px) and (max-width: 767px) {
.mobilesignup{
	background-color:#a9e006;
	color:#042649;
}
.mobilesignup .signupuser{
color:#042649;
border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
	   border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
	}
	.mobilesignup .logo{
	display:block;
	margin:0 auto;
	}
		.mobilesignup .logotext{
	display:block;
	width:100%;
	text-align:center;
	font-size:16px;
	}
		.mobilesignup .signupbtn{
		padding-right:60px;
		padding-left:60px;
		background-color:#042649;
		color:#ffffff;
	border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
	   border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display:block;
    margin:0 auto;
    }
    .mobilesignup .signupor{
    	color:#666666;
	text-align:center;
	width:100%;
	display:block;
	font-weight:bold;
    }
    .mobilesignup .signupfb{
	background-color:#3B5998;
	color:#ffffff;
		outline:none;
			   border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
	   border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display:block;
    margin:0 auto;
    font-size:14px;
    padding-left:15px;
    padding-right:15px;
    border:none;
  box-shadow:none;
}
.mobilesignup .signupgplus{
	background-color: #ffffff;
	color:#d34836;
		outline:none;
			   border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
	   border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display:block;
    margin:0 auto;
    font-size:14px;
    padding-left:15px;
    padding-right:15px;
    border:none;
  box-shadow:none;
}
.mobilesignup  .signupolduser{
		color:#ffffff;
	text-align:center;
	width:100%;
	display:block;
	font-weight:bold;
		padding-top:15px;
		font-size:14px;
}
.mobilesignup  .signupolduser a{
		text-decoration:none;
		color:#042649;
		font-size:14px;
}
.mobilesignup .modal-header{
	border:none;
	padding:10px;
}
/* user profile for mobile begins */
.mobileuserprofile{
background-color:#f7f7f7;	
}

.mobileuserprofile .mprofilebg{
	background-color:#042649;
	margin-top:5px;
}
.mobileuserprofile .mprofilebg img{
	display:block;
	margin:0 auto;
}
.mobileuserprofile .mprofilebg h4{
	color:#ffffff;
	text-align:center;
}
.mobileuserprofile .mprofilebg h5{
	color:#ffffff;
	text-align:center;
}
.mobileuserprofile .mobilemenulist a{
	text-decoration:none;
	
}
.mobileuserprofile .mobilemenulist a > h4{
	border-bottom:1px solid #cccccc;
	color:#666666;
	padding:3px;
	padding:5px;
}
.mobileuserprofile .mobilemenulist .mlogout{
	font-weight:bold;
	margin-top:40px;
}
.mobileuserdata .dpform{
	border:none;
	border-bottom:1px solid #666666;
	box-shadow:none;
	border-radius:0;
}
.mobileuserdata .datamore{
	float:right;
	background:none;
	border:none;
	color: #a9e006;
	 margin-top: -25px;
}
.mobileuserdata .mpcancelbtn{
	border:none;
	box-shadow:none;
	background:none;
	color:#000000;
	float:right;
}
.mobileuserdata .mpupdatebtn{
		border:none;
	box-shadow:none;
	background:none;
	color:#f44242;
	float:right;
}
.mobileuserdata{
	background-color:#fff;
	margin-bottom:5px;
}
.mobileuserdata .usermline{
	border-bottom:1px solid #cccccc;
	background-color:#a9e006;
}
.mobilebookhistory{
	background-color:#ffffff;
}
.mobilebookhistory  {
 -webkit-box-shadow: 0px 4px 14px 0px rgba(102,102,102,1);
-moz-box-shadow: 0px 4px 14px 0px rgba(102,102,102,1);
box-shadow: 0px 4px 14px 0px rgba(102,102,102,1);
}
.mobilebookhistory  h3{
	color:#042649;
	text-transform:uppercase;
	font-weight:bold;
	padding:5px;
	font-size:16px;
}
.mobilebookhistory .dubook h4{
	color:#5d5d5d;
	font-weight:bold;
	font-size:14px;
}

.mobilebookhistory .dubook h6{
	color:#5d5d5d;
	font-weight:bold;
	font-size:12px;
}
.mobilebookhistory .dubook .bci{
	display:block;
	color:#5d5d5d;
	font-weight:bold;
	text-align:center;
	font-size:14px;

}
.mobilebookhistory .dubook .bconame{
	display:block;
	color:#353535;
	font-size:12px;
	
	text-align:center;
	
}
.mobilebookhistory .dubook .dhsep{
	display:block;
	margin:5px auto;
}
.mobilebookhistory .dubook .mrdetail{
		color:#5d5d5d;
	font-weight:bold;
	text-align:center;
	font-size:10px;
}
.mobilebookhistory .dubook .btncancel{
background:none;
color:#042649;
border:1px solid #042649;	
border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display:block;
    margin:0 auto;
}
.mobilepastbooking{
	background-color:#ffffff;
}
.mobilepastbooking  {
 -webkit-box-shadow: 0px 4px 14px 0px rgba(102,102,102,1);
-moz-box-shadow: 0px 4px 14px 0px rgba(102,102,102,1);
box-shadow: 0px 4px 14px 0px rgba(102,102,102,1);
}
.mobilepastbooking .dpbook .pbooking{
	color:#042649;
	text-transform:uppercase;
	font-weight:bold;
	padding:5px;
	font-size:16px;
	text-decoration:none;
	cursor:pointer;
}
.mobilepastbooking  h3{
	color:#042649;
	text-transform:uppercase;
	font-weight:bold;
	padding:5px;
	font-size:16px;
}
.mobilepastbooking .dpbook h4{
	color:#5d5d5d;
	font-weight:bold;
	font-size:14px;
}

.mobilepastbooking .dpbook h6{
	color:#5d5d5d;
	font-weight:bold;
	font-size:12px;
}
.mobilepastbooking .dpbook .bci{
	display:block;
	color:#5d5d5d;
	font-weight:bold;
	text-align:center;
	font-size:14px;

}
.mobilepastbooking .dpbook .bconame{
	display:block;
	color:#353535;
	font-size:12px;
	
	text-align:center;
	
}
.mobilepastbooking .dpbook .dhsep{
	display:block;
	margin:5px auto;
}
.mobilepastbooking .dpbook .mrdetail{
		color:#5d5d5d;
	font-weight:bold;
	text-align:center;
	font-size:10px;
}
.mobilepastbooking .dpbook .dreview{
	float:right;
	color:#042649;
	font-size:10px;
}
.mobilepastbooking .dpbook .dreviewbtn{
	border:1px solid #042649;
	color:#042649;
	font-size:10px;
	padding:5px;
	text-decoration:none;
	   border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.mrewards .drimage{
display:block;
margin:0 auto;	
}
.mrewards{
	padding:5px;
	margin-bottom:5px;
	
	margin-top:10px;
}
.mrewards .redeemnote{
	text-align:center;
	display:block;
	width:100%;
}
.mrewards .dredeembtn{
	border:none;
	font-weight:bold;
	background-color:#a9e006;
	color:#042649;
		font-size:14px;
	padding-right:15px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	   border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display:block;
    margin:5px auto;
 }
 
  .mcancelpop .cpreason{
  font-size:12px;
  color:#666666;
  float:left;
  display:block;
  font-weight:bold;
  width:80%;
  }
   .mcancelpop  .cpamount{
  font-size:12px;
  color:#666666;
  float:left;
  display:block;
  font-weight:bold;
  width:20%;
  }
      .mcancelpop   .cpstatus{
  font-size:12px;
  color:#a9e006;
  float:left;
  display:block;
  font-weight:bold;
  width:20%;
  }
  .mcancelpop .drequestbtn{
  background-color:#042649;
  color:#ffffff;
  width:100%;
  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border:none;
   padding:5px;
  }
    .mcancelpop .drequestbtn > button{
  background-color:#042649;
  color:#ffffff;
  width:100%;
  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border:none;
  padding:5px;
  }
 .mcancelpop  .drequestback{
   background-color:#a9e006;
  color:#042649;
  width:100%;
  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border:none;
    padding:5px;
  }
  .mcancelpop .dortext{
     background-color:#ffffff;
  color:#042649;
  width:100%;
  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border:none;
    padding:5px;
    pointer-events: none;
cursor: default;
  }
/* user profile for mobile ends */
}
/* media query for login ends */
/* media query for hotel detail page */
@media (min-width: 320px) and (max-width: 767px) {
	.mobiledetailpage{
	background-color:#f7f7f7;
	}
	
	.mobiledetailpage .mlistcallback{
	 position: absolute;
	 color:#ffffff;
    top: 5px;
    left: 5px;
	font-size:10px;
	 background: rgba(0, 0, 0, 0.5);
	padding:5px;
	}
	.mobiledetailpage .mlistcallpopup{
		 position: absolute;
	 color:#ffffff;
    top: 5px;
    right: 5px;
	font-size:10px;
	 background: rgba(0, 0, 0, 0.5);
	padding:5px;
	}
	.mobiledetailpage .whiteboard{
	background-color:#ffffff;
/* 	margin-top:2%; */
	}
  .mobiledetailpage .mobileicondiv{
  min-height:40px;
  overflow:hidden;
  height:40px;
 }
   .mobiledetailpage .mobileicondivnew ul { list-style: none outside none; margin:1%; padding: 0; text-align: left; }
  .mobiledetailpage .mobileicondivnew li { display: inline; margin: 0 10px; }
   .mobiledetailpage .mobileicondivnew li img{
   margin-top:2%;
   }
   .mobiledetailpage .dmorebtn{
   color:#a9e006;
   border:1px solid #a9e006;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
   font-size:8px;
   padding:5px;
   float:right;
   margin:1%;
   }
	.mobiledetailpage .mname{
	color:#042649;
	font-size:20px;
	margin:3px auto;
}
.mobiledetailpage .mlocation{
	color:#666666;
	font-size:10px;
}
.mobiledetailpage .dselectcategory{
	 display:block;
	color:#666666;
	font-size:12px;
	font-weight:bold;
   padding-top:0%;
   
}	
.mobiledetailpage .mroomselect .mroomnames{
	color:#042649;
	border:2px solid #042649;
	padding:5px;
     border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size:12px;
 margin-right:1%;
 margin-bottom:2%;
text-align:center;
background:none;
outline:none;
text-transform:capitalize;
}
.mobiledetailpage .mroomselect .active{
	color:#042649;
	border:2px solid #042649;
	padding:5px;
     border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size:12px;
 margin-right:1%;
 margin-bottom:2%;
text-align:center;
background:#a9e006;
outline:none;
text-transform:capitalize;
}
.mguestselect .bootstrap-select>.dropdown-toggle{
	padding-right:0px !important;
}
.roompicker .btn{
	border:1px solid #042649;
	font-size:12px;
	color:#a9e006;
	 border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}
.roompicker .caret{
	display:none;
}
.roompicker .btn:hover{
background-color:#ffffff;
borde
}

.mobiledetailpage .dmrating{
	border:1px solid #a9e006;
	color:#ffffff;
	font-size:12px;
	background-color: #ffffff;
	 border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding:5px;
	font-size:10px;
}
.mobiledetailpage .dmratingcount{
color:#a9e006;
   
   
}
.mobiledetailpage .dmratingtext{
	
	color:#a9e006;
	
}
.mobiledetailpage .mviewrclick{
	background-color:none;
	font-size:10px;
	color:#577cd5;
	font-weight:bold;
	margin-left:1%;
}
.mobiledetailpage .mguestselect img{
	height:16px;
	width:16px;
}
.mobiledetailpage .dateform{
	background-color:none;
	border:none;
	outline:none;
	box-shadow:none;
	font-size:12px;
    width:100%;
	font-weight:bold;
}
.mobiledetailpage .mobileselectdate{
	border:1px solid #042649;
	    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding:5px;
	background-color:#ffffff;
}
.mobiledetailpage .dinclusion li {
	margin: 0 5px;
 display: inline; 
 }
.mobiledetailpage .dinclusion ul {
	list-style: none outside none; 
	margin:0; 
	padding: 0; 
	text-align: left;
	font-size:12px;
	}
.mobiledetailpage .dinclusion .fa-check-circle{
	color:#a9e006;
}
.mobiledetailpage .mselectbox{
	border:1px solid #ccc;
}
#mobileimagescroll nav{
	border:none;
}
#mobileimagescroll a{
	color:#042649;
	font-size:10px;
}
#mobileimagescroll img{
display:block;
margin:5px auto;
height:200px;
width:100%;

}
#mobileimagescroll .tab-content ul{
	list-style:none;
}
#mobileimagescroll a:active{
	color:#a9e006;
	font-size:10px;
}
#mobileimagescroll .modal-header{
	background-color: #042649;
}
#mobileimagescroll .modal-header img{
	height:20px;
}
#mobileimagescroll .modal-header .backbox{
	height:20px;
	float:left;
}
#mobileimagescroll .modal-header .rightbox{
	height:20px;
	float:right;
}
.mobiledetailpage .dofferzone{
	color:#666666;
    font-size:12px;
   padding:15px;
    border-top:0px solid #666666;
    text-align:center;
    width:100%;
    }
  .mobiledetailpage .mapplycoupon{
  color:#666666;
  border:1px solid #666666;
   border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
padding:1%;
  }
  .dselecteddata{
	color:#666666;
	font-weight:bold;
	font-size:11px;
	border:none;
}
.dselecteddata .dselectedroomdata{
	color:#666666;
	font-weight:bold;
}
.dselecteddata .dselectedstrikeprice{
	color:#666666;
	font-size:13px;
}
.dselecteddata .dselectedstrikeprice {
  position: relative;
}
.dselecteddata .dselectedstrikeprice:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid #666666;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

.dselecteddata .dselectedtotalprice{
	font-size:17px;
	color:#042649;
}
.dselecteddata .dtaxnote{
	font-size:6px;
	color:#666666;
	display:none;
}
.droominfo{
color:#1054a7; 
	font-size:12px;
	text-align:center;
 }
 .droominfo .droomone{
 text-transform:capitalize;
 }
  .droominfo .droompersoncount{
font-weight:bold;
 }
.mobiledetailfixedbox{
	  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color:#fff;
-webkit-box-shadow: 2px 2px 11px 2px rgba(102,102,102,1);
-moz-box-shadow: 2px 2px 11px 2px rgba(102,102,102,1);
box-shadow: 2px 2px 11px 2px rgba(102,102,102,1);
  }
.mobiledetailfixedbox .dselecteddata{
	padding:1%;
}
.mobiledetailfixedbox .fa-pencil-square-o{
	color: #042649;
}
.mobiledetailfixedbox .dselectedroomdata{
	display:block;
	text-align:center;
}
.mroomperson .btn{
	font-size:12px;
	padding:3px 3px;
border:1px solid #042649;
border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

}
.mobiledetailfixedbox .mpaybtn{
	 background-color:#a9e006;
	 color:#042649;
	 font-size:14px;
	 text-align:center;
	border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
	
	 padding:1%;
	 display:block;
	 margin:0 auto;
}
 .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FFF;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
.mobilescroll a:hover{
	background:none;
}
.mobilescroll{
	background:#ffffff;
	
	-webkit-box-shadow: 0 0 10px #e2e2e2;
        box-shadow: 0 0 10px #e2e2e2;
}
.mobilescroll .panel{
	margin-bottom:0px;
}
.mobilescroll .panel-group{
	margin-bottom:0px;
}
.mobilescroll h4{
	color:#666666;
	text-transform:capitalize;
}
.mobilescroll .landmark{
	padding:5px;
}
.mobilescroll .pd p{
	color:#5d5d5d;
	padding:4px;
}
.mobilescroll .landmark p{
	color:#5d5d5d;
	padding:4px;
}
.mobilescroll strong{
	color:#666666;
}
.mobilescroll ul li{
	color:#042649;
	list-style:none;
	font-size:14px;
	font-weight:normal;
}
.scrollhotelamenity img {
display:block;
margin:0 auto;
 }
.scrollhotelamenity p{
text-align:left;
	font-size:12px;
	}
.imgheight{
	height:200px;
	width:100%;
}
.maplocationmobile {
}
.maplocationmobile .mviewmap{
	color:#a9e006;
	border:1px solid #a9e006;
	padding:5px;
    display:block;
    margin:50% auto;
	    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
	text-align:center;
}
.mtotalreviews {
background-color:#ffffff;
}
.mtotalreviews .dgcount{
	color:	#577cd5;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
}
.mtotalreviews .dgreviewbtn {
	text-decoration:none;
	font0-size:12px;
}
.mtotalreviews .dgreviewbtn h4{
	color:#577cd5;
	text-align:center;
	border:1px solid #577cd5;
	text-decoration:none;
	  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width:100%;
    padding:5px;
    font-size:10px;
}
.mtotalreviews .mgooglereviewbox{
	


}
.mtotalreviews .reviewboxgoogle p{
overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    
}
.mgooglereviewbox .reviewboxgoogle{
		overflow:hidden;
	background-color:#fff;
padding:5px;
   height:150px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
}
.mgooglereviewbox img{
display:block;
margin:0 auto;	
}
.mgooglereviewbox small{
text-align:center;
width:100%;
color:#666666;
}
.mtripdiv .dgcount{
	color:#00af87;
}
.mtripdiv .rating .filled {
    color: #00af87;
}
.mtripdiv.name{
	text-align:center;
	width:100%;
	color:red;
}
.mtripdiv .reviewboxtrip img{
	display:block;
	margin:0 auto;
}
.mtripdiv  small{
	text-aign:center;
}
.mtripdiv  .reviewboxtrip{
		overflow:hidden;
	background-color:#fff;
padding:5px;
   height:150px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
}
.mtripdiv small{
color:#666666;
font-size:10px;
}
.mtripdiv .reviewboxtrip{
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.mtripdiv .tgreviewbtn h4{
	color:#00af87;
	text-align:center;
	border:1px solid #00af87;
	text-decoration:none;
	  border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width:100%;
    padding:5px;
    font-size:10px;
}
.mtotalreviews .mgooglereviewbox .mgscroll{
	float:left;
	display:block;
	width:100px;
	height:60px;
	margin:1%;
	background-color:#ffffff;
-webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
}
#mpaymentpage h2{
	font-size:16px;
}
#mpaymentpage  h4{
	font-size:14px;
	text-align:center;
	color: #042649;
}
#mpaymentpage .proomtypes {
    background-color: #3C5A99;
}
#mpaymentpage .proomtypes h4{
	font-size:13px;
	text-align:center;
	color: #ffffff;
	font-weight:bold;
	display:block;
}
#mpaymentpage .dviewscroll{
	padding:5px;
}
.dpayhoteldetail .dpreasonsave {
    color: #a9e006;
    font-size: 14px;
    float: left;
    font-weight: normal;
    margin-bottom: 1%;
}
.dpayhoteldetail .dpreasonsaverate {
    color: #a9e006;
    font-size: 14px;
    float: right;
    font-weight: bold;
    margin-bottom: 1%;
}
.dpayhoteldetail .dpreason {
    color: #666666;
    font-size: 14px;
    float: left;
    font-weight: normal;
    margin-bottom: 1%;
}
.dfinaltaxbox{
	padding:5px;
}
.dpreasontax{
	 color: #666666;
    font-size: 14px;
}
.dpreasontaxrate{
	 color: #666666;
    font-size: 14px;
}
.dpayhoteldetail .dpreasonrate {
    color: #666666;
    font-size: 14px;
    float: right;
    font-weight: normal;
    margin-bottom: 1%;
}
.dpayhoteldetail {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
    padding-right: 0px;
    padding-left: 0px; 
}
.dpayhoteldetail .finalpayimage{
	width:100%; 
	height:100px;
	padding:5px;
}
.dpaymentpage {
    background-color: #f7f7f7;
     padding: 0%; 
}
.dpayhoteldetail label {
    text-align: center;
    width: 100%;
    margin-bottom:0%;
    color:#666666;
     font-size: 10px;
}
.dpayhoteldetail .dpcheckin {
    font-size: 11px;
    color: #042649;
    font-weight: bold;
    text-align: center;
}
.dpayhoteldetail .dviewscroll{
	font-size:12px;
	float:left;
	color:#a9e006;
}
.dpayuserdetail .mbfixpayment{
	    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 11px 2px rgba(102,102,102,1);
    -moz-box-shadow: 2px 2px 11px 2px rgba(102,102,102,1);
    box-shadow: 2px 2px 11px 2px rgba(102,102,102,1);
}
.dpayuserdetail .dpaylaterbutton{
	border:1px solid #042649;
	color:#042649;
		width:100%;
	text-align:center;
	background-color:#ffffff;
	padding:5px;
	 border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    outline:none;
    margin-top:5%;
}

.dpayuserdetail .dpaynowbutton{
		border:1px solid #a9e006;
	color:#042649;
	background-color:#a9e006;
	width:100%;
	text-align:center;
	padding:5px;
	 border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    outline:none;
    margin-top:0%;
}
#myotpnowmodal .modal-dialog {
    width: 320px;
   
}
}
}
/* media query for hotel detail page */