a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
a::focus {
  color: red;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
li,
ul {
    margin: 0;
    padding: 0
}

.boxShadow,
.btn {
    box-shadow: -2px 6px 7px -5px #333
}

.btn,
.text-center {
    text-align: center
}

.btn,
a,
body {
    color: #333
}

.btn,
.facilities5B li span,
.itemDetails h4,
.listingRoom .smallTxt,
.priceTag span.cutoff,
.singleListingRoom .smallTxt,
.singleRoomType .roomInfo h3,
banner .banner-content h1 {
    text-transform: uppercase
}

.menu ul li,
li {
    list-style: none
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf)
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(fonts/Roboto-ThinItalic.ttf)
}

@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf)
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: Courgette-Regular;
    src: url(fonts/Courgette-Regular.ttf)
}
@font-face {
    font-family: Sans-serif;
    src: url(fonts/SansPosterBold.ttf)
}
@font-face {
    font-family: Affogato-Bold;
    src: url(fonts/Affogato-Bold.otf);
}
@font-face {
    font-family: Affogato-Light;
    src: url(fonts/Affogato-light.otf);
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none
}

.availCheckBox .select-location select:focus,
.popupSearchHotels input:focus {
    outline: 0
}

input::-moz-focus-inner {
    border: 0!important
}

body,
html {
    width: 100%;
    height: 100%;
      font-family: Roboto-Regular;
    font-size: 16px;
    background: #e6e7e8;
     margin: 0px;
 padding: 0px;
}

input {
    background: Tranparent;
    border: 1px solid #ccc
}

.img-circle {
    border-radius: 50%
}

.img-responsive {
    display: inlin-block;
    max-width: 100%
}

.paddingLR30 {
    padding-left: 30px;
    padding-right: 30px
}

.noBorderRight {
    border-right: 0!important
}

.noBorder {
    border: 0!important
}

.borderRight {
    border-right: 1px solid #ccc
}

.noMarginRight {
    margin-right: 0!important
}

.dFlex {
    display: flex
}

.btn {
    border-radius: 0;
    padding: 5px 15px;
    border: none;
    font-size: 14px
}

.greenBtn {
    background-color: #89bb42
}

.greyBtn {
    background-color: #e6e7e8;
    border: 1px solid #ccc
}

.separator {
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 6px 0
}

.cntInner,
.cntOuter,
.height100 {
    height: 100%
}

.separator.bgcolor {
    background-color: #e6e7e8;
    margin: 1px 0
}

.whiteBox,
header {
    background: #FFF;
    width: 100%
}

.whiteLine {
    background-color: #FFF
}

.cntOuter {
    display: table;
    width: 100%
}

.cntInner {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.medium {
    font-family: Roboto-Medium
}

.bold {
    font-family: Roboto-Bold
}

.font24 {
    font-size: 24px
}

.menu ul li a,
.menuRight {
    font-size: 18px;
    font-family: Roboto-Light;
    line-height: 48px
}

.dsFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.menu,
.menu ul li,
.menuRight,
.mnuContant,
.mnuLogin,
.mnuSignup,
.mpUsername,
.mpUsername i,
banner h6 {
    display: inline-block
}

header {
    padding: 10px 40px;
    z-index: 1;
    position: absolute
}

header.innerPage {
    position: relative;
    border-bottom: 1px solid #ccc
}

header .logo img {
    width: 141px;
    display:block;
    margin:0 auto;
}

.text-right {
    text-align: right
}

.menu {
    margin-top: 10px
}

.menu ul {
    margin: 0;
    padding: 0
}

.menu ul li {
    background: center right no-repeat
}

.menu ul li:last-child {
    background: 0 0
}

.menu ul li a {
    padding: 0 30px;
    color: #000;
    transition: .4s;
    font-size: Roboto-Medium
}

.menu ul li a:hover,
.mnuContant a {
    color: #000;
    transition: .4s;
    font-weight: 700
}

.menuRight {
    border: 1px solid #e6e7e8;
    text-align: center;
    height: 50px
}

.mnuLogin,
.mnuSignup {
    width: 95px;
    height: 48px;
    margin-right: 1px
}

.mnuLogin {
    background: #89bb42;
    color: #FFF
}

.mnuSignup {
    background: #e6e7e8;
    color: #333
}

.mnuContant {
    padding: 0 15px
}

.mnuContant a {
    color: #333;
    transition: .4s;
    font-size: 16px
}

.mnuContant a:first-child {
    border-right: 1px solid #e6e7e8;
    padding-right: 15px;
    margin-right: 15px
}

.mnuContant i {
    color: #89bb42
}

.mnuProfile {
    background: #e6e7e8;
    padding: 0 10px;
    float: right;
    height: 100%;
    position: relative;
    z-index: 9999
}

.mpAvatar {
    float: left;
    height: 36px;
    width: 36px;
    background-position: center center!important;
    background-size: cover!important;
    border-radius: 50%;
    margin: 6px 8px 0 0
}

.mpUsername {
    font-size: 14px;
    font-family: Roboto-Medium
}

.mpUsername a {
    color: #069
}

.mpUsername i {
    margin: 0 5px;
    font-size: 25px;
    color: #999;
    position: relative;
    top: 4px
}

.mpSubMenu,
.rspMenu,
.visibleLG {
    display: none
}

.mpSubMenu {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    border: 1px solid #e6e7e8;
    -webkit-box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);
    padding: 25px
}

.indexBanner,
banner {
    position: relative;
    width: 100%
}

banner,
banner .fiveBs {
    background-repeat: no-repeat
}

.mpSubMenu ul li {
    margin: 15px 0;
    line-height: 20px;
    text-align: left
}

.mpSubMenu ul li:first-child {
    margin-top: 0
}

.mpSubMenu ul li:last-child {
    margin-bottom: 0
}

.mpSubMenu ul li a {
    font-size: 14px;
    color: #666;
    font-family: Roboto-Light;
    transition: .4s
}

.mpSubMenu ul li a:hover {
    color: #000;
    transition: .4s
}

banner {
    xtop: 0;
    background-image: url(../images/home/openbanner1.png);
    background-size: cover;
    height: 440px;
    background-position: center center;
    max-height: 640px;
    float: left;
    padding-top: 115px;
}

.indexBanner {
    height: 100%;
    max-height: 527px
}

banner .banner-content {
    color: #fff;
    width: 100%;
    position: absolute;
    top: 40%;
    -webkit-transform: -webkit-translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
banner .banner-content img{
    display:block;
    margin:0 auto;
    padding:5px;
    margin-bottom:120px;
}
banner .banner-content .h1box{
	 margin:0;
	 padding:0 10px;
    background:none;
    display:inline-block;
}
banner .banner-content h1 {
    font-size: 80px;
    font-family: Affogato-Bold;
     color: #fff;
    text-transform: capitalize;
    text-align:center;
    position:relative;
    z-index:2;
    
}
banner .banner-content h1:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px red;
    z-index:-1;
}

banner .banner-content h2 {
     font-family: Affogato-Light;
     color: #fff;
     text-transform: capitalize ;
     text-align:center;
     padding:10px;
     background: #103766 ;
}
banner .banner-content h5 {
    font-size: 70px;
    color: #fff;
    font-family: Affogato-Bold;
    text-align:center;

}
banner .banner-content h4 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align:center ;
   font-size: 20px;
}
banner .fiveBs {
    background-image: url(../images/5b-grey.png);
    background-position: top center;
    width: 100%;
    height: 95px;
    text-align: center;
    margin-top: 10px
}

.bannerAvailBox {
    position: absolute;
    bottom: 0;
    width: 100%
}

.availCheckBox .container {
    background-color: #FFF;
    height: auto;
    xpadding-top: 12px;
    xpadding-bottom: 12px;
    display: table
}

.availCheckBox .checkCol1 {
    padding: 12px 28px;
    border-right: 1px solid #ccc;
    min-height: 50px;
    height: 73px;
    width: 100%;
    xline-height: 73px
}

.availCheckBox .checkCol1 img {
    vertical-align: middle;
    float: left
}

.availCheckBox .select-location {
    float: left;
    width: 79%;
    border-radius: 3px;
    overflow: hidden;
    background: url(../images/down-arrow.png) 88% center no-repeat;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    margin-left: 10px
}

#endDatePicker,
#endDatePickerFH,
#startDatePicker,
#startDatePickerFH,
.fixedHeader {
    display: none
}

.availCheckBox .select-location select {
    padding: 10px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: 0 0;
    -webkit-appearance: none;
    cursor: pointer
}

.availCheckBox .inOutDates {
    float: right;
    width: 77%;
    line-height: 50px;
    font-size: 18px
}

.availCheckBox .inOutDates .date {
    font-size: 30px
}

.availCheckBox .inOutDates .arrowRight {
    font-size: 20px;
    padding: 0 15px;
    color: #999
}

.availCheckBox .checkAvailabilityBtn {
    min-height: 50px;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    margin-top: 5px
}

.availCheckBox .newbutton,
.availCheckBox button #checkAvailmb,
.availCheckBox button#checkAvail,
.availCheckBox buttons #checkAvailmb,
.availCheckBox buttons#checkAvail {
    height: 100%;
    font-size: 18px;
   // background-image: url(../images/search-icon.png);
    //background-repeat: no-repeat;
    background-position: 20px center;
    width: 100%;
    
}

.availCheckBox .newbutton,
.availCheckBox buttons #checkAvailmb,
.availCheckBox buttons#checkAvail {
    line-height: 2.62857143
}

.availCheckBox .select-location select option {
    border: none;
    background: #FFF;
    padding: 5px
}

#customEndDate,
#customEndDateFH,
#customStartDate,
#customStartDateFH {
    cursor: pointer
}

.innerPageAvailBox {
    width: 100%;
    background-color: #FFF
}

.fixedHeader {
    width: 100%;
    z-index: 110;
    height: 100px;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    padding: 0 15px;
    border-bottom: 1px solid #cfcfcf
}

.fhLogo {
    position: absolute;
    left: 20px;
    max-width: 150px;
    top: 10px
}

.fHRight {
    padding: 5px 0;
    text-align: right;
    float: right
}

.fixedHeader .greenBtn {
    background-color: #ccc
}

section.nogreybox {
    width: 100%;
    padding: 25px 0
}

h1.heading1 {
    overflow: hidden;
    font-size: 24px;
    text-align: center;
    font-family: Roboto-Light;
    color: #333;
    margin: 50px 0
}

h1.heading1 span {
    font-family: Roboto-Medium
}

h1.heading1:after,
h1.heading1:before {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    font-size: 24px
}

h1.heading1:before {
    right: 30px;
    margin-left: -50%
}

h1.heading1:after {
    left: 30px;
    margin-right: -50%
}

.offerBox {
    width: 100%;
    padding: 10px 15px;
    position: relative;
    height: auto;
    margin: 0 auto 50px
}

.offerBox img {
    position: absolute;
    max-width: 119px;
    max-height: 119px
}

.percentImg {
    left: 20px;
    top: 23px
}

.splOfrImg {
    left: 10px;
    top: 10px
}

.offerBox .right {
    float: right;
    min-width: 280px;
    xpadding-left: 150px;
    text-align: center
}

.offerBox .t_c_apply {
    font-size: 11px;
    font-family: Roboto-Light;
    text-align: right;
    width: 100%
}

.offerBox .offer_content {
    padding: 0 20px;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: Roboto-Medium;
    font-size: 18px;
    margin-top: -10px
}

.offerBox .offer_content .offPrice {
    font-size: 30px
}

.offerBox .offer_content .useCode {
    background-color: #FFF;
    text-align: center;
    width: 100%;
    line-height: 37px;
    color: #333;
    display: inline-block;
    margin: 5px 0;
    border: 1px dashed #999
}

.offerBox .offer_content .useCode span.ucTxt {
    font-family: Roboto-Regular
}

.ribbon5BGreen {
    text-align: center;
    width: 97%
}

.facilities5B {
    margin: 50px 0;
    float: left;
    width: 100%
}

.item-box,
.item-box-home {
    margin-right: 19px;
    border: 1px solid #ccc;
    box-shadow: -2px 6px 7px -5px #333;
    float: left;
    background-color: #FFF
}

.facilities5B li {
    padding: 0 25px;
    width: 20%;
    text-align: center;
    float: left;
    font-size: 14px
}

.facilities5B li:last-child {
    padding-right: 0
}

.facilities5B li img {
    display: inline-block;
    padding-bottom: 20px
}

.facilities5B li span {
    font-size: 18px
}

.hotelItems {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 50px
}

.item-box {
    width: 32%;
    padding: 10px;
    max-width: 320px
}

.item-box-home {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    max-width: 315px;
    position: relative
}

.item-box-home h3 {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 2
}

.item-box .itemImage,
.item-box-home .itemImage {
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.itemDetails {
    color: #666;
    font-size: 14px;
    margin-left: 6px
}

.itemDetails h4 {
    color: #690;
    font-size: 18px;
    font-family: Roboto-Medium;
    margin: 25px 0;
    font-weight: 400
}

.itemDetails .address {
    background-image: url(../images/location-icon-small.png);
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 25px
}

.itemDetails .price_review {
    margin-top: 50px;
    margin-bottom: 13px;
    width: 100%
}

.itemDetails .price_review .left {
    float: left;
    width: 60%;
    color: #666
}

.itemDetails .price_review .right {
    float: right;
    width: 35%;
    text-align: right
}

.itemDetails .price_review .left .cost_per_night {
    font-size: 16px
}

.itemDetails .price_review .left .cost_per_night span {
    color: #0a5589;
    font-family: Roboto-Bold;
    font-size: 24px
}

.itemDetails .price_review .left .cost_off {
    font-size: 14px;
    line-height: 30px
}

.itemDetails .price_review .left .cost_off span {
    text-decoration: line-through
}

.review_count {
    font-size: 14px;
    overflow:hidden;
    white-space:nowrap;
}

hr.line {
    display: block;
    height: 5px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    width: 100%;
    clear: both;
    padding: 0
}

.bookNowBtn {
    display: block;
    clear: both;
    width: 169px;
    height: 54px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 46px
}

.itemDetails .rating-input {
    margin: 8px 0
}

.rating-input i {
    padding-right: 2px
}

.rating-input .fa-star {
    color: #f60
}

.testimonial {
    padding: 70px 30px 50px;
    margin: 50px 30px;
    position: relative;
    background-color: #FFF
}

.testimonial .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #FFF;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0
}

.testimonial .pic img {
    width: 100%;
    height: auto
}

.testimonial .description {
    font-size: 15px;
    color: #666;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
    font-family: Roboto-Light;
    padding: 30px 15px 15px
}

.testimonial .description:after,
.testimonial .description:before {
    color: #999;
    position: absolute;
    font-family: FontAwesome
}

.testimonial .description:before {
    content: "\f10d";
    font-size: 25px;
    top: 0;
    left: -2px
}

.testimonial .description:after {
    content: "\f10e";
    font-size: 25px;
    bottom: -15px;
    right: -2px
}

.owl-next,
.testimonial .title {
    position: absolute;
    right: 0
}

.testimonial .title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
    bottom: -50px;
    left: 0
}

.testimonial .post {
    font-size: 15px;
    color: #671a36
}

.owl-theme .owl-controls {
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 50%
}

.owl-theme .owl-controls .owl-buttons div {
    width: 12px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: 0 0
}

.owl-prev {
    position: absolute;
    left: 0
}

.owl-next:after,
.owl-prev:after {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 30px;
    color: #999;
    opacity: 1
}

.owl-next:after {
    content: '\f105'
}

#paymentCards {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px
}

.home-newsletter {
    padding: 50px 0
}

.home-newsletter .single {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2
}

.home-newsletter .single h2 {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333
}

.quickLinks h6,
.quickLinks ul {
    margin-bottom: 20px
}

.home-newsletter .input-group {
    width: 100%;
    height: 50px
}

.home-newsletter .input-group input {
    float: left;
    width: 70%;
    background: #FFF;
    border-radius: 5px 0 0 5px;
    padding: 10px 24px;
    border: none;
    height: 100%
}

.home-newsletter .input-group .btn {
    float: left;
    width: 30%;
    text-align: center;
    border-radius: 0 5px 5px 0!important;
    font-size: 16px;
    color: #FFF;
    background-color: #88ba40;
    height: 100%
}

footer {
    padding: 0 70px 30px
}

.footer_bottom .container .row,
.quickLinks .container .row {
    padding-left: 65px;
    padding-right: 65px
}

.quickLinks h6 {
    font-size: 16px;
    color: #333
}

.quickLinks li,
.quickLinks p {
    font-family: Roboto-Light;
    line-height: 24px
}

#discountOffers span.medium,
.quickLinks p span {
    font-family: Roboto-Medium
}

.mFLeft {
    margin-left: 15px
}

.quickLinks p {
    margin-bottom: 25px
}

.footer_bottom {
    font-size: 14px;
    line-height: 24px;
    padding-top: 30px
}

.social_icons span {
    padding-right: 10px
}

.social_icons a {
    display: block;
    padding: 8px 0
}

.social_icons [class*="fa fa-"] {
    background-color: #97c359;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    xmargin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    margin-right: 10px
}

#discountOffers {
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
    background: #699;
    position: relative;
    font-size: 18px;
    margin: 5px 0
}

#discountOffers img {
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 6px
}

#discountOffers span.medium {
    font-size: 30px
}

#discountOffers .code {
    display: inline-block;
    padding: 10px 20px;
    background: #FFF;
    color: #066;
    font-size: 18px;
    margin: 0 10px
}

#discountOffers .t_c_apply {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-family: Roboto-Light;
    font-size: 11px;
    color: #333
}

#hotelListings {
    margin-bottom: 20px
}

.listingBar {
    margin: 0 0 20px;
    line-height: 28px
}

.listingBar select#sortBy {
    width: 100%;
    background-color: #FFF;
    border: none;
    font-size: 14px;
    font-family: Roboto-Light;
    height: 30px;
    padding: 0 5px
}

.listingRoom {
    width: 100%;
    margin-bottom: 40px;
    padding: 15px;
    background: #FFF;
    display: table
}

.listingRoom .left {
    width: 22%;
    float: left
}

.listingRoom .right {
    width: 78%;
    float: left;
    padding-left: 14px
}

.listingRoom .left .roomImage {
    width: 100%;
    height: 221px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}



.listingRoom .roomInfo {
    float: left;
    width: 75%;
    min-height: 56px;
    margin-bottom: 5px
}

.listingRoom .roomInfo h4 {
    color: #03182b;
    font-size: 18px;
    font-family: Roboto-Medium;
    margin-bottom: 4px;
   
}

.listingRoom .smallTxt {
    background-repeat: no-repeat;
    line-height: 24px;
  
    font-size: 14px;
    color: #363636;
}
.listingRoom .grwidth .grcount{
	margin-top:15px;
}
.listingRoom .trwidth{
	width:45%;
	color:#599444;
	margin-left:-70px;
}
.listingRoom .trwidth .filled{

	color:#599444;
}

.listingRoom .roomReview {
    float: left;
    width: 15%;
    padding-left: 15px;
    text-align: center
}

.listingRoom .rating-input {
    margin: 5px 0
}

.listingRoom .ratingMbl .rating-input {
    width: 85px;
    display: inline-block
}

.listingRoom .ratingMbl .rating-input i {
    font-size: 11px
}

.listingRoom .ratingMbl .review_count {
    display: inline-block;
    font-size: 11px
}

.listingRoom .amenities {
    width: 100%;
    margin-top: 5px;
    position: relative
}

.listingRoom .amenities .icons {
    margin-top: 10px;
    float: left
}

.listingRoom .amenities .icons li {
    display: inline-block;
    margin-right: 13px;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 42px;
    position: relative
}

.listingRoom .amenities .icons li img {
    vertical-align: middle;
    height: 30px;
    white-space: nowrap
}

.listingRoom .amenities .icons li span {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 44px;
    left: 0;
    font-size: 12px;
    color: #666;
    line-height: 12px
}

.priceTag {
    float: right;
    padding: 0 20px;
    text-align: center;
    width: auto;
    margin-top: -10px;
    margin-right: 50px;
    font-size: 14px
}

.priceTag span.price {
    color: #069;
    font-size: 30px;
    line-height: 50px;
    display: inline-block
}

.priceTag span.cutoff {
    color: #f60;
    font-weight: 600;
    position: relative
}

.priceTag span.strike {
    color: #666;
    position: relative
}

.priceTag span.strike::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #666;
    transform: rotate(0)
}

.priceTag span.taxTxt {
    font-size: 11px
}

.roomDetails {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    clear: both;
    margin-top: 15px;
    display: inline-block
}

.roomDetails .colsRD {
    float: left;
    width: auto
}

.roomDetails .vertLine {
    width: 1px;
    background-color: #ccc;
    height: 100%;
    float: left;
    margin: 5px 5px 0;
    min-height: 60px
}

.roomDetails .colsRD label {
    font-size: 14px;
    color: #666;
    background-repeat: no-repeat;
    background-position: 2px 4px;
    line-height: 25px;
    font-weight: 400
}

.roomDetails .colsRD select {
    background: #FFF;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 5px 2px;
    color: #666
}

.roomDetails .colsRD label.rtype {
    background-image: url(../images/room-type-icon.png);
    padding-left: 50px
}

.roomDetails .colsRD label.roomsno {
    background-image: url(../images/rooms-icon.png);
    padding-left: 40px
}

.roomDetails .colsRD label.guests {
    background-image: url(../images/guests-icon.png);
    padding-left: 30px;
    padding-right: 10px
}

.roomDetails #adults,
.roomDetails #child {
    width: 47%;
    display: inline-block
}

.roomDetails .moreRooms {
    padding: 13px 20px;
    text-align: center;
    background-color: #069;
    display: inline-block;
    color: #e6e7e8
}

.roomDetails .moreRooms a {
    color: #e6e7e8
}

.roomDetails .quickBook a {
    color: #333
}

.roomDetails .quickBook {
    padding: 23px 20px;
    background-color: #89bb42;
    display: inline-block;
    vertical-align: top
}

.roomDetails .quickBook button {
    background: 0 0;
    box-shadow: none;
    border: none
}

.soldout {
    padding: 23px 15px;
    background-color: #e6e7e8;
    color: red;
    display: inline-block;
    vertical-align: top;
    float: right;
    clear: both;
    margin-top: 25px
}

#customerReviews {
    padding-bottom: 50px
}

.orange.ribbon {
    background: #f60;
    font-size: 14px
}

.blue.ribbon {
    background: #669;
    font-size: 12px
}

.ribbon {
    width: auto;
    right: -14px;
    position: absolute;
    color: #fff;
    text-align: center;
    padding: .5em 10px;
   /*  -webkit-box-shadow: -8px 3px 25px 1px rgba(0, 0, 0, .75);
    -moz-box-shadow: -8px 3px 25px 1px rgba(0, 0, 0, .75);
    box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, .75) */
}

.ribbon .ribbon-content:after,
.ribbon .ribbon-content:before {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em
}

.ribbon.blue .ribbon-content:after,
.ribbon.blue .ribbon-content:before {
    border-color: #272774 transparent transparent
}

.ribbon.orange .ribbon-content:after,
.ribbon.orange .ribbon-content:before {
    border-color: #762700 transparent transparent
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
    display: none
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0
}

#singleListing {
    padding-bottom: 20px
}

.singleListingRoom {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    background: #FFF
}

.singleListingRoom .separator {
    margin: 0 0 30px
}

.singleListingRoom .roomInfo {
    width: 100%;
    border-right: 1px solid #ccc;
    min-height: 56px;
    margin-bottom: 15px
}

.singleListingRoom .roomInfo h4 {
    color: #693;
    font-size: 18px;
    font-family: Roboto-Medium;
    margin-bottom: 10px;
    text-transform: uppercase
}

.singleListingRoom .smallTxt {
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 25px;
    font-size: 14px;
    color: #666
}

.singleListingRoom .smallTxt.address {
    background-image: url(../images/location-icon-small.png)
}

.singleListingRoom .roomReview {
    width: 100%;
    text-align: right
}

.singleListingRoom .rating-input {
    margin: 5px 0
}

.singleListingRoom .ratingMbl .rating-input {
    width: 85px;
    display: inline-block
}

.singleListingRoom .ratingMbl .rating-input i {
    font-size: 11px
}

.singleListingRoom .ratingMbl .review_count {
    display: inline-block;
    font-size: 11px
}

.singleListingRoom .amenities {
    width: 100%;
    position: relative
}

.singleListingRoom .amenities .title {
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 25px;
    font-size: 18px;
    color: #069;
    margin-left: 20px;
    background-image: url(../images/amenity-icon-blue.png)
}

.singleListingRoom .amenities .icons {
    margin-top: 30px;
    width: 100%;
    margin-left: 20px;
    text-align: center
}

.singleListingRoom .amenities .icons li {
    display: inline-block;
    margin-right: 13px;
    width: 72px;
    height: 72px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 55px;
    position: relative;
    margin-bottom: 30px
}

.singleListingRoom .amenities .icons li img {
    vertical-align: middle;
    height: 30px;
    width: 30px
}

.singleListingRoom .amenities .icons li span {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 44px;
    left: 0;
    font-size: 12px;
    color: #666;
    line-height: 12px
}

#image-gallery img {
    width: 100%
}

.selectedRooms {
    padding: 15px;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
    line-height: 20px
}

.cMid {
    height: 80px;
    vertical-align: middle;
    display: table-cell
}

.selectedDates {
    padding-left: 50px;
    padding-top: 6px;
    background-image: url(../images/deee.png);
    background-repeat: no-repeat;
    background-position: left 18px;
    color: #333
}

.selectedDates span,
.stayInfo span {
    font-family: Roboto-Light;
    color: #666
}

.selectedDates span {
    display: inline-block;
    width: 70px;
    line-height: 30px
}

.stayInfo {
    font-family: Roboto-Medium;
    color: #333
}

.policies .cancellation,
.ratingComments li p {
    font-family: Roboto-Light
}

.selectedRooms .col-md-2.adjW {
    width: 19.667%
}

.selectedRooms .removeRoom {
    font-size: 30px;
    color: #999
}

.selectedRooms .removeRoom a i {
    color: #999;
    transition: .4s
}

.selectedRooms .removeRoom a:hover i {
    color: red;
    transition: .4s
}

.selectedRooms .col-md-1.adjW {
    width: 7%
}

.selectedRooms .col-md-4.adjW {
    width: 30%
}

.selectedRooms .priceTag {
    margin: 0;
    padding: 0;
    float: none
}

.selectedRooms .priceTag .strike {
    right: 10px
}

.selectedRooms .priceTag .cutoff {
    left: 5px;
    font-size: 12px
}

.selectedRooms .price {
    font-size: 24px!important;
    line-height: 26px!important
}

.selectedRooms .quickBook a,
.selectedRooms .quickBook button {
    color: #333;
    display: block;
    padding: 15px 10px;
    transition: .4s;
    box-shadow: none;
    border: none;
    background: 0 0
}

.selectedRooms .quickBook a:hover {
    color: #FFF;
    transition: .4s
}

.selectedRooms .quickBook {
    background-color: #89bb42;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 160px
}

.roomTypesList {
    background-color: #FFF;
    padding: 10px;
    clear: both;
    margin: 5px 0
}

.roomTypesList h4 {
    background-image: url(../images/room-type-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    color: #069;
    margin: 15px 0;
    width: 100%
}

.roomTypesList .roomTypeImg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 180px;
    height: 115px;
    margin-right: 10px;
    float: left
}

.singleRoomType {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    clear: both
}

.singleRoomType.selected {
    background-color: #e6e7e8
}

.singleRoomType .roomInfo {
    float: left;
    padding-right: 81px;
    border-right: 1px solid #ccc
}

.singleRoomType .roomInfo h3 {
    color: #333;
    font-size: 16px;
    font-weight: 400
}

.singleRoomType .roomFacility h3,
.singleRoomType .roomInfo h3 span {
    color: #666;
    font-size: 14px;
    text-transform: none
}

.singleRoomType .priceTag {
    padding: 20px 30px;
    margin-top: 0;
    margin-right: 0;
    border-right: 1px solid #ccc
}

.singleRoomType .update_select_btn {
    float: left;
    margin: 37px 20px;
    width: 113px;
    height: 36px;
    line-height: 35px;
    color: #333;
    cursor: pointer
}

.update_select_btn button {
    background: 0 0;
    box-shadow: none;
    border: none
}

#payment .address,
#payment .chosenDates {
    background-repeat: no-repeat;
    font-size: 14px
}

.rspSep {
    margin: 20px 0 30px
}

.singleRoomType.selected .update_select_btn {
    background-color: none
}

.singleRoomType .update_select_btn span {
    width: 35px;
    height: 100%;
    background-color: #89bb42;
    color: #FFF;
    margin-right: 10px;
    text-align: center;
    display: inline-block
}

.singleRoomType .roomInfo .roomDetails {
    padding: 0;
    margin-top: 20px
}

.singleRoomType .roomFacility {
    clear: both;
    padding-top: 15px
}

.singleRoomType .roomFacility .fIcons {
    clear: both;
    width: 100%;
    padding-top: 10px
}

.singleRoomType .roomFacility .fIcons i {
    width: auto;
    padding: 5px 10px 0;
    display: inline-block;
    font-size: 30px;
    color: #666
}

.singleWhiteBox {
    background-color: #FFF;
    padding: 10px
}

.hotelContent p {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding: 5px 0;
    word-wrap: break-word;
    text-transform: capitalize
}

.commentsReadMore a,
.hotelContent h5,
.policyhead,
.tabContent h6,
.teamCEO .details span,
h4.roomTitle {
    text-transform: uppercase
}

.hotelContent h4,
.policies h4 {
    color: #069;
    font-size: 18px;
    line-height: 30px
}

.ratingReview {
    padding: 20px;
    margin-bottom: 20px
}

.ratingReview .roomReview {
    padding-left: 240px;
    border-right: 0 solid #ccc;
    width: 100%;
    display: inline-block
}

.ratingReview .ratingValue {
    font-size: 18px;
    color: #666;
    display: inline-block
}

.ratingReview .ratingValue span {
    color: #090;
    font-size: 14px;
    text-align: center
}

.ratingComments {
    margin: 0 50px
}

.ratingComments li {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: #666
}

.ratingComments li span {
    font-size: 14px;
    color: #333;
    line-height: 24px
}

.ratingComments li p {
    font-size: 14px
}

.ratingComments li:last-child {
    border-bottom: none
}

.commentsReadMore {
    text-align: center;
    width: 100%;
    line-height: 50px;
    margin: 10px 0
}

.commentsReadMore a {
    display: inline-block;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #999;
    color: #FFF
}

.policies {
    width: 100%;
    padding: 20px
}

.policies .cancellation {
    font-size: 14px;
    padding: 10px 25px;
    width: 100%;
    color: #666;
    border-right: 1px solid #ccc;
    display: inline-block
}

.policies .cancellation span,
.policies .timingTerms span {
    font-family: Roboto-Regular;
    line-height: 30px
}

.policiess .timingTerms {
    width: 100%;
    padding: 20px 25px;
    font-size: 14px;
    display: inline-block;
    font-family: Roboto-Light
}

.policiess h4 {
    color: #069;
    font-size: 18px;
    line-height: 30px
}

#payment {
    margin: 15px 0
}

#payment .container {
    background-color: #FFF;
    padding: 15px
}

h4.roomTitle {
    color: #690;
    font-size: 18px;
    font-family: Roboto-Medium;
    margin: 5px 0;
    font-weight: 400
}

#payment .address {
    background-image: url(../images/location-icon-small.png);
    line-height: 24px;
    padding-left: 25px
}

#payment .chosenRoomsImg {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block
}

#payment .chosenRoomsImg img {
    max-width: 180px;
    max-height: 115px;
    float: left;
    margin-right: 4px
}

#payment .chosenDates {
    background-image: url(../images/deee.png);
    background-position: 10px center;
    width: 100%;
    font-family: Roboto-Light;
    clear: both;
    padding-left: 60px;
    line-height: 50px;
    border-bottom: 1px solid #ccc
}

#payment .chosenDates span {
    font-family: Roboto-Regular
}

#payment .bookedRooms {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    width: 100%
}

#payment .bookedRooms div.cntOuter {
    border-right: 1px solid #ccc;
    font-size: 14px
}

#payment .bookedRooms div.cntOuter span {
    font-family: Roboto-Medium;
    font-size: 16px
}

#payment .bookedRooms div a {
    display: inline-block;
    padding-right: 10px
}

.editBookedRooms {
    padding: 20px 20px 0
}

.editBookedRooms .roomDetails {
    margin-top: 0
}

.editBookedRooms .okBtn {
    width: 36px;
    height: 36px;
    background-color: #89bb42;
    text-align: center;
    line-height: 36px;
    color: #FFF;
    display: inline-block;
    margin-top: 28px;
    margin-left: 10px
}

.paymentDetails {
    border-left: 1px solid #ccc;
    padding: 20px;
    width: 100%
}

.paymentDetails h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px
}

.guestForm {
    padding-left: 30px;
    width: 100%;
    padding-right: 30px
}

.guestForm input {
    border: none;
    border-bottom: 1px solid #e6e7e8;
    background: 0 0;
    padding: 10px 10px 10px 0;
    margin-bottom: 15px;
    width: 100%
}

.bookingCost {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin: 30px 0
}

.bookingCost .left {
    text-align: right;
    padding-right: 10px
}

.bookingCost .right {
    font-size: 16px;
    color: #333
}

.bookingCost .right .off {
    color: #f60;
    font-size: 12px
}

.bookingCost .right a {
    color: #069
}

.bookingCost .medium {
    color: #333
}

.payNow {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    position: relative;
    height: 66px
}

.payNow .payableAmt {
    padding: 12px 0 20px 5px;
    color: #069;
    font-size: 18px;
    line-height: 15px
}

.payNowBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 64px;
    border: none;
    background-color: #89bb42;
    color: #333
}

.payNow .payableAmt .smallTxt {
    font-size: 11px;
    color: #666
}

.couponCodeInput {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    margin-top: 15px
}

.couponCodeInput input {
    float: left;
    width: 340px;
    background: 0 0;
    height: 100%;
    border: none;
    padding: 10px
}

.couponCodeInput button {
    float: right;
    height: 100%;
    width: 170px;
    color: #FFF;
    background-color: #666;
    border: none
}

.couponCode {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
    line-height: 24px
}

.couponCode label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.couponCode label input {
    position: absolute;
    opacity: 0
}

.selectCode {
    position: absolute;
    top: 12px;
    left: 30px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%
}

.couponCode label:hover input~.selectCode {
    background-color: #666
}

.couponCode label input:checked~.selectCode {
    background-color: #2196F3
}

.selectCode:after {
    content: "";
    position: absolute;
    display: none
}

.couponCode label input:checked~.selectCode:after {
    display: block
}

.couponCode label .selectCode:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff
}

#userProfile {
    margin: 15px 0
}

#userProfile .profileLeft {
    margin-right: 15px;
    width: 23%
}

#userProfile .profileLeft,
#userProfile .profileRight {
    background: #FFF;
    xwidth: 100%;
    padding: 15px
}

#userProfile .profImg {
    width: 100%;
    height: 240px
}

#userProfile .profName {
    font-family: Roboto-Light;
    position: relative;
    line-height: 20px;
    margin: 10px 0;
    padding-right: 30px
}

#userProfile .profName img {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer
}

#loader,
.fiveb-fixed,
.fixed {
    position: fixed
}

.profName span {
    display: block;
    padding: 5px 5px 5px 0
}

#profile_name {
    display: none;
    padding: 5px;
    width: 95%
}

.editInfo {
    font-size: 14px;
    padding: 5px 0
}

.editInfo input {
    display: none;
    width: 136px;
    padding: 2px
}

.editInfo label {
    width: 60px;
    display: inline-block
}

.editInfo span {
    width: auto;
    display: inline-block
}

.saveBtn,
.updateBtn {
    margin: 15px 0
}

.edit-input {
    display: none
}

.changePassword span {
    color: #069;
    padding: 10px 0;
    line-height: 30px;
    display: block
}

.changePassword input {
    padding: 5px;
    border: 1px solid #ccc;
    background: 0 0;
    width: 100%;
    margin-bottom: 5px;
    max-width: 200px;
    clear: both;
    font-size: 13px;
    display: block
}

.bookingData,
.profileRight input {
    display: none
}

.profileRight {
    padding: 0!important
}

.profileRight .tabs {
    width: 100%
}

.profileRight label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    text-align: center;
    color: #999;
    font-weight: 400;
    border: 1px solid transparent
}

.profileRight label:before {
    font-family: fontawesome;
    font-weight: 400;
    margin-right: 10px
}

.profileRight label:hover {
    color: #333;
    cursor: pointer
}

.profileRight input:checked+label {
    color: #555;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 5px solid #88ba40;
    xborder-bottom: 1px solid #fff
}

.profileRight #tab1:checked~#upcomingBooking,
.profileRight #tab2:checked~#pastBooking {
    display: block
}

.bookingData {
    padding: 0 25px
}

.profileRight .tabs .separator {
    margin: 0
}

.bookingData .profileBookedList {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 30px 0;
    padding-bottom: 30px
}

.bookingData .profileBookedList:last-child {
    border: none
}

.teamCEO,
.teamMembers {
    border: 1px solid #ccc
}

.bookingData .bookedHotelImg {
    height: 115px
}

.bookingData .bookedHotelInfo {
    xwidth: 100%;
    border-right: 1px solid #ccc;
    margin-left: 15px
}

.bookedHotelInfo h4.roomTitle {
    font-size: 16px
}

.bookedHotelInfo .address {
    background-image: url(../images/location-icon-small.png);
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 25px;
    font-size: 14px
}

.bookedHotelInfo .stayInfo {
    font-size: 14px;
    padding-left: 0;
    margin-top: 5px;
    width: auto;
    display: inline-block;
    padding-right: 10px;
    line-height: 23px
}

.bookedHotelInfo .pricePerNight {
    color: #999;
    font-size: 12px;
    width: auto;
    display: inline-block;
    margin-top: 10px;
    border-left: 1px solid #ccc;
    padding-left: 10px
}

.ourTeam,
.teamCEO {
    display: flex
}

.bookedHotelInfo .pricePerNight span {
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #069
}

.profileBookedList .datePlanning {
    font-size: 14px;
    font-family: Roboto-Light;
    margin-top: 5px;
    padding-left: 30px
}

.profileBookedList .datePlanning span {
    font-family: Roboto-Regular
}

.profileBookedList .datePlanning a {
    background-color: #FFF;
    border: 1px solid #ccc;
    color: #069;
    margin-top: 30px
}

.headingBar {
    width: 100%;
    padding: 20px 20px 60px;
    background-color: #89bb42
}

.tabMenu li {
    float: left;
    width: auto;
    text-align: center;
    padding: 0 25px;
    line-height: 24px
}

.tabMenu li i {
    font-size: 24px
}

.tabBG {
    background-color: #FFF;
    padding: 30px 50px;
    margin-top: -40px
}

.textContent {
    font-size: 14px;
    color: #666;
    line-height: 20px
}

.textContent p {
    padding-bottom: 20px
}

.textContent a {
    color: #693;
    text-decoration: underline
}

.customContent {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    min-height: 300px
}

.tabContent h1 {
    margin: 0 0 40px
}

.listCon {
    padding-left: 40px
}

.tabContent h6 {
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0
}

.teamCEO {
    width: auto;
    margin: 0 auto 50px;
    background: #e6e7e8;
    max-width: 550px
}

.teamCEO .image {
    width: 40%;
    background-color: #FFF;
    text-align: center;
    line-height: 180px
}

.teamCEO .image img {
    width: 90px;
    vertical-align: middle
}

.teamCEO .details {
    width: 60%;
    padding: 37px 20px;
    font-size: 14px
}

.teamCEO .details span {
    font-size: 14px
}

.teamCEO .details p {
    padding-top: 15px
}

.ourTeam .col-sm-4 {
    padding: 0 15px;
    margin-bottom: 30px
}

.teamMembers {
    width: 100%;
    background-color: #FFF;
    min-height: 200px;
    height: 100%
}

.teamMembers .image {
    width: 100%;
    text-align: center;
    height: 150px;
    line-height: 150px;
    background: #e6e7e8
}

.teamMembers .image img {
    width: 90px;
    vertical-align: middle
}

.teamMembers .details {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    clear: both
}

.teamMembers .details span {
    font-size: 14px;
    text-transform: uppercase
}

.teamMembers .details p {
    padding-top: 15px
}

#pressTab .textContent,
#socialTab .textContent,
#webTab .webContent {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc
}

#pressTab .textContent:last-child,
#socialTab .textContent:last-child,
#webTab .webContent:last-child {
    border: none;
    margin: 0
}

#pressTab .col-sm-9,
#socialTab .col-sm-9,
#webTab .col-sm-9 {
    padding-left: 25px
}

.webContent {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    display: inline-block
}

.webDetails {
    line-height: 22px
}

.webDetails span {
    color: #333;
    font-size: 26px;
    line-height: 35px
}

.contactAddr,
.scrollContent {
    font-size: 14px
}

.webContent img {
    margin-bottom: 10px
}

.webDetails p {
    padding-top: 10px;
    padding-bottom: 10px
}

.contactAddr p,
.scrollContent {
    padding-bottom: 15px
}

.webContent a {
    color: #069
}

.contactAddr a {
    color: #693;
    text-decoration: underline
}

.fiveb-fixed {
    right: 0;
    bottom: 0;
    width: 70px;
    cursor: pointer;
    z-index: 10
}

.popupSearchHotels {
    display: none
}

.scrollContent {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 75px;
    color: #666;
    line-height: 20px
}

.desktopFixedHeader,
.multipleBookingFixedHdr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    height: auto;
    display: none
}

.fixed {
    left: 0;
    top: 0;
    display: block;
    z-index: 999;
    width: 1000px
}

#loader,
#openFloatingDiv {
    width: 100%
}

#floatingBox {
    height: 96px
}

#contentViewBreakUps,
#contentViewBreakUps2 {
    display: none;
    font-size: 12px;
    background: #d9e6c7;
    color: #000;
    padding: 5px;
    margin: 10px
}

.showViewBreakUps,
.showViewBreakUps2 {
    display: block;
    cursor: pointer;
    font-size: 12px;
    color: #069
}

.showViewBreakUps2 {
    padding-right: 15px
}

.popupSearchHotels input {
    border: transparent;
    font-size: 1.3rem;
    font-weight: 400
}

.popupSearchHotels .form-control {
    background: 0 0;
    height: 44px;
    border-color: none;
    box-shadow: none
}

.availCheckBox input {
    border: transparent;
    font-size: 1.4rem;
    font-weight: 400
}

.availCheckBox input:focus {
    border-color: rgba(126, 239, 104, .8)
}

.availCheckBox .form-control {
    background: 0 0;
    height: 44px;
    border-color: none;
    box-shadow: none
}

.nondisplay {
    diplay: none
}

#loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #fbfbfb;
    display: table;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999
}

.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center
}

.loader-back-logo {
    margin-top: -10px;
    font-size: 26px
}

.loader {
    margin-top: -20px;
    margin-left: 0
}

.singleRoomType .roomFacility .icons {
    padding: 5px 10px;
    display: inline-block;
    text-align: center
}

.singleRoomType .update_select_btn .confirmButton {
    background-color: #89bb42;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px
}

.singleRoomType .update_select_btn .soldButton {
    background: #e6e7e8;
    color: red;
    cursor: pointer;
    padding: 10px 20px
}

.selected .confirmButton {
    color: #fff!important;
    background: #069!important;
    outline: #fff solid .5px;
    content: 'SELECTED';
    visibility: visible
}

.otherclass {
    transition: all 10s linear;
    position: absolute;
    top: 49px;
    left: 80%;
    width: 20%;
    background: #FFF;
    border: 1px solid #e6e7e8;
    -webkit-box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);
    padding: 25px;
    display: block
}

.otherclass ul li {
    margin: 15px 0;
    line-height: 20px;
    text-align: left
}

.otherclass ul li:first-child {
    margin-top: 0
}

.otherclass ul li:last-child {
    margin-bottom: 0
}

.otherclass ul li a {
    font-size: 14px;
    color: #666;
    font-family: Roboto-Light;
    transition: .4s
}

.otherclass ul li a:hover {
    color: #000;
    transition: .4s
}

.seotitle {
    padding: 5px
}

.seopara p {
    color: #9b9b9b
}

.seopara a,
.seopara h1,
.seopara h2,
.seopara h3,
.seopara h4,
.seopara h5,
.seopara h6 {
    color: #4a4a4a
}

.seopara {
    color: #9b9b9b;
    text-align: justify
}

.guestForm input:focus {
    outline: 0
}

.seopara .morecontent span {
    display: none
}

.seopara .morelink {
    display: block;
    color: #5768e9
}

.pricedrop {
    color: red!important
}

.bookedRooms .offdetail {
    font-size: 14px!important;
    color: #666
}

.quickSold {
    padding: 23px 20px;
    background-color: #e6e7e8;
    display: inline-block;
    vertical-align: top
}

.quickSold a {
    color: red!important
}

.hotelContent h5 {
    color: #000
}

.hotelland p {
    text-transform: capitalize
}

.caption1,
.hotelpolicydetail strong {
    text-transform: uppercase
}

.hotelpolicydetail ul li {
    text-transform: capitalize;
    padding: 5px;
    font-size: 14px
}

.hotelpolicydetail ul li:before {
    content: "\2713";
    color: #006400;
    padding: 5px
}

.hotelpolicydetail ol li {
    text-transform: capitalize;
    padding: 5px;
    font-size: 14px;
    color: #006400
}

.hotelpolicydetail ol li:before {
    content: "\2713";
    color: #006400;
    padding: 5px
}

.review-item {
    border: none!important
}

.review-item .review-text {
    text-align: justify;
    line-height: 1.35em;
    color: #666;
    font-size: 15px
}

.review-item .review-author {
    font-weight: 400;
    font-size: 16px
}

.ratingReview .roomReview .reviewpoint {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-left: 30px
}

.ratingReview .roomReview .review_count {
    margin-left: 10px
}

.ratingReview .reviewmargin {
    border: none;
    padding: 5px
}

.ratingReview .marginreview {
    border: 1px solid #069
}

.paymentborder,
.paymentfinal .dateinfo hr,
.paymentfinal .payinfo,
.paymentfinal .payinfo .subtotal {
    border: 1px solid #E2E2E2
}

.ratingReview .tripreview img {
    padding: 5px;
    display: block;
    margin: 0 auto
}

.ratingReview .tripreview .triplogo {
    display: block;
    margin: 0 auto
}

.paymentborder {
    padding: 5px
}

.payhoteldetail .caption {
    position: absolute;
    bottom: 0;
    margin: 0;
    color: #fff;
    background-color: #115D81;
    padding: 5px;
    width: 100%
}

.payhoteldetail .caption h4 {
    color: #fff;
    font-size: 16px
}

.payhoteldetail .caption .checked {
    color: #f60;
    font-size: 12px
}

.payhoteldetail .caption .unchecked {
    font-size: 12px
}

.payhoteldetail .caption .hoteladdress {
    font-size: 14px
}

.paymentfinal .dateinfo .roominfo {
    font-size: 24px;
    padding: 10px
}

.paymentfinal .dateinfo .nightinfo {
    color: #959595;
    font-size: 12px
}

.paymentfinal .dateinfo .extrainfo {
    color: #000;
    font-size: 12px;
    padding: 5px;
    display: block
}

.paymentfinal .dateinfo .extrainfo .fa-check {
    color: #006400;
    font-size: 18px
}

.paymentfinal .dateinfo .extrainfo ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.paymentfinal .dateinfo .extrainfo ul li {
    margin: 0 5px;
    display: inline;
    color: #000
}

.paymentfinal .dateinfo {
    paddding: 15px
}

.paymentfinal .dateinfo h3 {
    font-size: 14px
}

.paymentfinal .linepay {
    margin-top: 20px
}

.paymentfinal .dateinfo label {
    font-size: 13px;
    font-weight: 400;
    color: #959595;
    padding: 5px
}

.paymentfinal .guestinfo h3 {
    color: #069;
    padding: 10px
}

.paymentfinal .guestinfo .splneed {
    color: #959595;
    font-size: 12px
}

.paymentfinal .payinfo {
    padding: 10px
}

.paymentfinal .payinfo h3 {
    color: #069
}

.paymentfinal .payinfo label {
    padding: 10px;
    font-size: 14px
}

.paymentfinal .payinfo .rateinfo {
    float: right
}

.paymentfinal .payinfo .totalsave {
    color: #89bb42
}

.paymentfinal .payinfo .subcoupon a {
    color: #069;
    padding: 20px;
    font-weight: 700;
    font-size: 14px;
    display: block
}

.paymentfinal .rateinfo .strike {
    color: #f72e00;
    position: relative;
    font-size: 12px
}

.paymentfinal .rateinfo .strike::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f72e00;
    transform: rotate(0)
}

.paymentfinal .paydetail .couponname {
    color: #f72e00;
    font-size: 10px;
    border: 1px solid #f72e00;
    padding: 1px
}

.paymentfinal .paydetail .couponpercent {
    color: #959595;
    font-size: 10px;
    display: block
}

.paymentfinal .paydetail .uloterms {
    color: #959595;
    font-size: 11px;
    text-transform: capitalize;
    text-align: justify
}

.paymentfinal .paydetail .uloterms a {
    color: #069;
    font-size: 11px;
    text-transform: capitalize;
    text-align: justify
}

.paymentfinal hr {
    border: 1px solid #E2E2E2
}

.signUpLink a {
    color: #06c
}

.paymentfinal .payinfo .totalpay {
    color: #069
}

.paymentfinal .payinfo .rateinfodetail {
    color: #069;
    float: right;
    font-size: 16px
}

.paymentfinal .payinfo .totalpay .smallTxt {
    color: #069;
    font-size: 10px
}

.paymentfinal .payinfo .pdetailsr {
    color: #069;
    float: right;
    font-size: 16px
}

.paymentfinal .payinfo .pdetailsl {
    color: #069;
    float: left;
    font-size: 16px
}

.caption1,
.caption2 {
    font-size: 10px
}

.paymentfinal .payinfo .laterPay {
    color: #069;
    padding: 5px;
    border: 1px solid #069;
    background-color: #fff;
    width: 100%;
    margin: 5px;
    font-weight: 700
}

.paymentfinal .payinfo .nowPay {
    color: #fff;
    padding: 5px;
    border: 1px solid #89bb42;
    background-color: #89bb42;
    width: 100%;
    margin: 5px;
    font-weight: 700
}

.paymentfinal .payinfo .payonly,
.paymentfinal .payinfo .rsize,
.paymentfinal .payinfo .rsizes {
    border: 1px solid #E2E2E2;
    padding: 5px
}

.paymentfinal .payinfo .payonly {
    border-top: none
}

.paymentfinal .payinfo .payonly .nowPayonly {
    color: #fff;
    padding: 5px;
    border: 1px solid #069;
    background-color: #89bb42;
    margin: 0 auto
}

.caption1,
.caption2,
.caption3 {
    font-weight: 600;
    font-family: Roboto-Light;
    color: #333;
    display: block
}

.caption1 {
    text-align:center;
    font-weight:bold;
    color:#000;
    
}

.caption2,
.caption3 {
    text-transform: uppercase;
    text-align: center;
    padding: 5px
}

.caption3 {
    font-size: 8px
}

.hotel_location {
    color: #9b9b9b;
    font-size: 18px;
    font-family: Roboto-Medium
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #e57520;
}

.listreview {
    width: 17px;
    height: 17px;
}
.headingBarps {
    width: 100%;
   border-bottom:2px solid #89bb42;
   background-color:#ffffff;
}
.tabBGps {
    background-color: #FFF;
    padding: 30px 50px;
}
.thankimg{
    margin: 0 auto;
    display:block;
}
.tabBGps h4{
	color:#069;
	padding:5px;

}
.tabBGps .printicon{
color:red;
font-size:12px;
	float:right;
	padding:3px;
	
}
.tabBGps .psgd{
	border-right: 1px solid #D3D3D3;
	padding:3px;
}
.tabBGps .psgd .btop{
	border-bottom:1px solid #D3D3D3;
}
.psgd .dtext{
	color:#898989;
	font-size:14px;
		padding:5px;
}
.psgd .ltext{
	color:#00000;
	font-size:15px;
	font-weight:bold;
	padding:5px;
}
.psgd .spanltext{
		color:#898989;
	font-size:12px;
}
.tabBGps .psgd  .borderamount{
   border:1px solid #069;
   padding:3px;
}
.tabBGps .psgd .borderamount h3{
	color:#069;
	padding:5px;
	align:center;

}
.tabBGps .pspd{
	padding:3px;
}
.tabBGps .pspd h5{
		color:#00000 !important;
		font-size:15px;
}
.tabBGps .pspd .checked{
		color:#e57520 !important;
		font-size:10px;
}
.tabBGps .pspd .unchecked{
		color:#898989 !important;
		font-size:10px;
}
.tabBGps .pspd .pmap{
	color:#0000EE;
	font-size:10px;
	 overflow:hidden;
	white-space:nowrap;
	float:right;
}
.tabBGps .pspd .hoteladdress{
		color:#00000 !important;
		font-size:12px;
		text-transform:capitalize;
}
.tabBGps .note{
	border-bottom:1px solid #898989;
}
.tabBGps .pnoteicon{
		color:#898989 !important;
		font-size:10px;
}
.tabBGps .pnote{
	padding:5px;
	color:#444444;
	font-size:13px;
}
.tabBGps .queries{
	color:red;
	font-size:13px;
		padding:5px;
	
}
.tabBGps .queries .contact{
		color:red;
}
/* site spell check */
.faqc h2{
color:#069;	
}
.gpc h2{
	color:#069;	
}
.gpc .list{
	  list-style:disc outside none;
     display:list-item; 
}
.aboutc .list{
	 list-style:disc outside none;
     display:list-item; 
}
.aboutc h6{
	color:#069;	
}
.seopara br{
	display: block;
   margin: 10px 0;
   line-height:25px;
}
/*site spell check */
.ulohoteldetail{
	background:#e2e;
}
.availcalendar{
	background:#fff;
	padding:5px;
}
.availcalendar .calimg{
	padding:5px;
}
.availcalendar .sepdat{
	padding:5px;
	display:block;
	margin:0 auto;
	margin-top:10px;
}
.availcalendar .form-control{
	color:#000000;
	font-weight:bold;
	font-size:20px;
	background:none;
	border:none;
	text-align:center;
	box-shadow:none;
	padding:5px;
	margin:10px;
}
.availcalendar .greenBtn{
	background-color:#86b940;
	color:#000;
	font-size:20px;
	box-shadow:none;
	display:block;
	margin:0 auto; 
	margin-top:8px;
	width:100%;
	height:40px;
}
.availcalendar .greensmBtn{
	background-color:#86b940;
	color:#fff;
	font-size:16px;
	box-shadow:none;
	display:block;
	margin:0 auto; 
	margin-top:8px;
	height:40px;
}
.newhotelname .namereview{
	background-color:#fff;
	padding:5px;
}
.newhotelname .namereview  h4{
color:#639125;
font-size:20px;
font-weight:bold;
padding:5px;
}
.newhotelname .namereview  h5{
color:#939393;
font-size:16px;
font-weight:bold;	
padding:5px;
padding-left:25px;
background-image: url(../images/location-icon-small.png);
background-repeat: no-repeat;
}
.headreviews .gr img{
	float:right;
	margin-top:5px;
}
.headreviews .ta img{
	float:right;
	margin-top:5px;
}
.headreviews .gr{
	padding:5px;
}
.headreviews .ta{
	padding:5px;
}
.headreviews .ta .tabubble{
	border:1px solid #599444;
	border-radius:100%;
	background:#599444;
	padding:5px;
	margin:3px;
}
.headreviews .gr .grcount{
color:#f86400;	
margin:5px;
display:block;
}
.headreviews .ta .grcount{
color:#599444;	
margin:1px;
display:block;
}
.newhotelimage .newhtimage{
	background:#fff;
}
.ta .rating .filled{
	color:#579444;
}
.tripreviews .rating .filled{
	color:#579444;
}
.ta .star{
	border-radius:100%;
}
.newhotelimage .newhtimage .imgcount{
background-color:#5d5d5d;
	border:1px solid #5d5d5d;
	color:#fff;
	border-radius:100%;
	padding:4px;
	margin-top:5px;
	position: absolute;
    bottom: 20px;
    right: 20px;
    font-size:12px;
}
.newhotelimage .hdament{
	background:#fff;
}
.newhotelimage .hdament h4{
	color:#9d9d9d;
	padding:5px;
	text-transform:capitalize;
background-repeat: no-repeat;
}
.newhotelimage .hdament ul{
	float:left;
}
.newhotelimage .hdament ul img{
	height:30px;
	width:30px;
	border:1px solid #9d9d9d;
	margin:5px;
}
.newhotelimage .hotelspecial{
	background:#fff;
	padding:5px;
}
.newhotelimage .hotelspecial .sploff{
	border:1px solid #5d5d5d;
	color:#5d5d5d;
	font-size:10px;
}
.deskfloat{
	margin:5px;
}

#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #494949;
}
#quote-carousel img
{
  width: 60px;
  height: 60px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.reviewscroll{
	background:#fff !important;
 padding:5px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 10px;
        height: 10px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
}
.reviewscroll h4{
    color: #069;
    font-size: 18px;
    line-height: 30px;
	
}
.reviewscroll .plusreviews img{
	height:40px;
	width:40px;
}
.reviewscroll .tripreviews img{
	height:40px;
	width:40px;
}
.reviewscroll .plusreviews .review_count{
	color:#335ee8;
}
.reviewscroll .tripreviews .review_count{
	color:#599444;
}
.newmobilelist{
	-webkit-box-shadow: 0 0 10px #e2e2e2;
        box-shadow: 0 0 10px #e2e2e2;
}
.listhotelspecial{
	padding:10px;
	margin-left:-15px;
}
.listhotelspecial .sploff{
	border:1px solid #fff;
	padding:3px;
	color:#5d5d5d;
	font-size:14px;
	margin:5px;
	text-transform:capitalize;
	border-radius:5%;
	 color: #fff;
    background:#5ebb46;
}

.listhotelspecial .sploff1{
	border:1px solid #fff;
	padding:3px;
	color:#5d5d5d;
	font-size:14px;
	margin:5px;
	text-transform:capitalize;
	border-radius:5%;
	 color: #fff;
    background:#f488a3;
}
.listhotelspecial .sploff2{
	border:1px solid #fff;
	padding:3px;
	color:#5d5d5d;
	font-size:14px;
	margin:5px;
	text-transform:capitalize;
	border-radius:5%;
	 color: #fff;
    background:#2bcbba;
}
.ribbonpropgress{
	width:50%;
	float:right;
}
.newmobilelist .rdinfo{
padding:5px;
}
.newmobilelist .roomsLeft {
      background-color: rgba(0,0,0,0.75);
    border: none;
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    right: 0px;
    font-size: 16px;
     background-image: url(../images/bedwhite1.png);
    padding-left: 30px;
    padding-right:5px;
     padding-bottom: 5px;
    background-repeat:no-repeat;
    opacity: 1;
}
.listingRoom .grwidth{
	width:50%;
	color:#f66400;
	font-size:15px;
	/* display:inline-block; */
	display: table;
}
.listingRoom .grwidth .grcount{
	/* margin:5px; */
}
.listingRoom .trwidth{
	width:45%;
	color:#599444;
	margin-left:-70px;
}
.listingRoom .trwidth .filled{

	color:#599444;
}

.listingRoom .roomReview {
    float: left;
    width: 15%;
    padding-left: 15px;
    text-align: center
}


.progress {
    overflow: hidden;
    height: 20px;
    //margin-bottom: 20px;
    background-color: #fff;
     border:1px dotted #f86400;
    /* border-radius: 4px; */
    box-shadow: none;
    
   
}
.progress-bar span{
	padding-left:5px;
}
.progress-bar {
		color: #f86400;
    float: left;
    width: 0;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  font-weight:bold;
    text-align: center;
   background:#fed1b4; 
    box-shadow:none;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    white-space: nowrap;
  overflow: display;
  z-index: 0;
  
}
.listingRoom .priceTag {
    float: right;
    padding: 0 20px;
    text-align: center;
    width: auto;
    display:block;
    margin:0 auto;
    font-size: 14px;
    margin-top:80px;
}
.newmobilelist .listselect{
	background-color:#89bb42;
	color:#fff;
	border-radius:5%;
	box-shadow:none;
	margin-left:-10px;
    padding:5px;
    height:34px;
    font-size:15px;
    text-align:center;
}
.newmobilelist .listsoldselect{
	 background-color: #e6e7e8;
    color: red;
	border-radius:5%;
	box-shadow:none;
	margin-left:15px;
    padding:5px;
    height:34px;
    font-size:15px;
     text-align:center;
}
.newlistdate .sepdat{
	    padding: 5px;
    display: block;
    margin: 0 auto;
    margin-top: -40px;

}
.bannerAvailBox{
	margin-bottom:20px;
}
.availCheckBox .inOutDates .arrowRighthome {
    font-size: 20px;
    padding: 0px;
    color: #999;
    display:block;
    margin-top:15px;
}
#quote-carousel2 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel2 .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel2 .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel2 .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel2 .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel2 .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel2 .carousel-indicators .active 
{
  background: #494949;
}
#quote-carousel2 img
{
  width: 60px;
  height: 60px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel2 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  
    #quote-carousel2 .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 10px;
        height: 10px;
    }
    #quote-carousel2 .carousel-indicators li.active {
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
}
.reviewplus p{
	color:#6a6a6c;
	font-size:17px;
	overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
.reviewplus small{
	color:#000;
	font-size:15px;
	font-weight:bold;
	text-transform:Uppercase;
}
