@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.roomDetails .quickBook{ padding-left:44px; padding-right:44px;}
	.singleRoomType .priceTag .price{ font-size:26px;}
	.menu ul li a{padding:0 15px !important;}
	.mnuLogin,.mnuSignup{width:80px !important;}
	.mnuContant{padding:0 10px !important;}
	.mnuContant a:first-child{padding-right:10px !important; margin-right:10px !important;}
	.singleRoomType .priceTag{ width:18%;}
	.singleRoomType .roomInfo{ width:40%; padding-right:10px; }
	.roomDetails .quickBook button{padding-left:0; padding-right:0}
	
}

@media only screen and (min-width: 992px){
	.row{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
	.singleRoomType .roomInfo{ width:40%; padding-right:10px; }
	.singleRoomType .priceTag{ width:20%;}
}

@media only screen and (max-width: 991px) {
	.paddingLR30{ padding:0;}	
	.offerBox{ height:105px; }
	.offerBox img{ max-width:90px; max-height:90px;}
	.offerBox .offer_content{ padding:0 10px; width:85%; float:right;}
	.offerBox .offer_content .useCode{ width:80%; line-height:24px;}
	.offerBox .t_c_apply{ font-size:8px;}
	.offerBox .offer_content{ font-size:13px;}
	.offerBox .offer_content .offPrice{ font-size:22px;}
	.percentImg{left:13px; top:13px;}
	.splOfrImg{left:10px; top:10px;}
	#offerDeals .col-sm-6{ padding:0 15px;}
	.facilities5B{text-align:center; margin-bottom:30px;}
	.facilities5B li{ padding:0 15px; display:inline-block; width:30%; margin-bottom:20px; float:none;}
	.facilities5B li:last-child{padding-right:0}
	.facilities5B li img{display:inline-block; padding-bottom:13px;}
	.facilities5B li, .facilities5B li span{font-size:12px;}
	#mostPopular .container{width:96%;}
	.item-box, .item-box-home { width:31%;}
	.listingRoom .left{ width:32%;}
	.listingRoom .right{width:68%;}
	.listingRoom .roomInfo{ border-right:none; width:100%; }
	.listingRoom .roomReview{ width:100%; text-align:left; padding-left:0;}
	.listingRoom .rating-input { width:85px; display:inline-block; margin:0 0 5px 0; }	
	.listingRoom .rating-input i{ font-size:11px;}	
	.listingRoom .review_count{display:inline-block;font-size:11px;}
	.listingRoom .amenities .icons li { margin-right:2px; }
	.listingRoom .amenities .priceTag{ margin-right:0}
	
	#discountOffers img { left:8%;}
	.roomDetails .colsRD select{ font-size:13px; }
	.roomDetails .colsRD select#room_type{width:140px;}
	
	.singleRoomType .roomInfo h3{ font-size:14px;}
	.singleRoomType .roomInfo{ width:48%; padding-right:0;}
	.singleRoomType .roomDetails .colsRD{ margin-left:0}
	.singleRoomType .priceTag{ padding:0 20px;  border-right:none}
	.singleRoomType .priceTag .update_select_btn{ margin:10px auto 0 auto; float:none;}
	.singleRoomType .priceTag span.price{ font-size:22px; line-height:30px;}
	
	.menuRight{margin-top:10px;}
	.mnuLogin,.mnuSignup{width:80px !important;}
	.mnuContant{padding:0 10px !important; float:right;}
	.mnuContant a:first-child{border:none; padding:0; margin:0;}
	header,header.innerPage{padding-left:20px; padding-right:20px;}
	
	.rspMenu{position:fixed; background:#89bb42; top:0; right:0; bottom:0; width:75%; height:100%; z-index:25; display:none;}
	.rspMenu .cntOuter .cntInner{ vertical-align:top;}
	.rspMenu ul{margin:2em 0 0 2.5em;}
	.rspMenu ul li{display:block; margin:20px 0;}
	.rspMenu ul li a{font-size:19px; font-family:'Roboto-Light'; color:#FFF;transition: 0.4s;}
	.rspMenu ul li a:hover{color:#105087;transition: 0.4s;}
	.rspCLose{position:absolute; right:30px; top:30px;}
	.rspCLose a{xborder:2px solid #FFF; xborder-radius:50%; width:40px; height:40px; display:block; text-align:center; line-height:36px;}
	.rspCLose a i{font-size:20px; color:#FFF;transition: 0.4s;}
	.rspCLose a:hover i{color:#333;transition: 0.4s;}	
	.tabContent{max-width:90%; margin:0 auto;}
	
	.selectedRooms > .row{display:block;}
	.selectedRooms > .row > .col-md-5{padding-top:25px;}
	.selectedRooms > .row > .col-md-7 > .row > div:last-child{border:none;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.menuRight{margin-top:20px;}
	banner .banner-content h1{ font-size:2em;}
	banner h5.withTxt:before, banner h5.withTxt:after { width:15%; }
	.availCheckBox .inOutDates{ font-size:14px; text-align:right}
	.availCheckBox .inOutDates .date{ font-size:20px;}
	.availCheckBox .checkCol1{ padding-left:20px; padding-right:20px;}
	.availCheckBox .select-location { background-position:70% center; width:80%}
	.availCheckBox button{text-align:right; font-size:16px;}
	.availCheckBox .inOutDates .arrowRight{ font-size:18px; padding:0 5px;  }
	
	.roomDetails .linkCol{clear:both; text-align:center; padding-top:10px;}
	.roomDetails .quickBook,.roomDetails .moreRooms ,.roomDetails .quickSold { display:inline-block; margin:0 5px;}
	.roomDetails .colsRD:first-child{ margin-left:20px;}	
	
	.selectedRooms{ background-position:30px 25px;}
	.selectedRooms .smCol1, .selectedRooms .smCol2{width:40% !important; float:left; text-align:center;}	
	.selectedRooms .smCol3{width:15% !important; float:left; text-align:center; }	
	.selectedRooms .smCol3.borderRight{ border-right:none}
	.selectedRooms .smCol4{width:100% !important; clear:both; float:left; text-align:center; margin:10px 0 0 0;}
	
	#userProfile .profileLeft{ width:35%;}
	#userProfile .profileRight{ width:63%;}
	.bookingData .bookedHotelImg{ width:100%; margin-bottom:15px;}	
	.bookingData .bookedHotelInfo{ margin-left:0; width:50%;}
	.bookedHotelInfo h4.roomTitle{ font-size:13px;}
	.bookedHotelInfo .address, .bookedHotelInfo .stayInfo{ font-size:12px;}	
	.profileBookedList .datePlanning{ padding-left:15px; width:50%;}
	.paymentDetails{ border-left:none; padding-top:30px;}
}

@media only screen and (max-width: 767px) {
	.dsFlex{display:block;}
	banner,.indexBanner{height:100%; max-height:100%;}
	.mnuLogin,.mnuSignup{width:60px !important; float:left; font-size:14px;}
	.banner-content{ top:10%;}
	banner .banner-content h1{ font-size:1.8em;}
	banner h5.withTxt{ font-size:12px;}
	banner h5.headingSlider { margin-top:10px;}
	banner .bannerRibbon{ background-size:80px;}
	.availCheckBox .inOutDates .date, .availCheckBox .inOutDates{ font-size:14px;}
	.availCheckBox .inOutDates .arrowRight{ font-size:15px; padding:0 5px;}
	.fixedHeader{padding:0 10px;}
	.availCheckBox .select-location { background-position:95% 11px; font-size:18px; margin-top:8px; background-size:15px; margin-left:0;}
	.availCheckBox .select-location select { width:130%; padding:8px 0 0 0; font-size:14px; position:relative; top:0 !important; }
	.availCheckBox .checkCol1{ padding:0 10px; height:auto}
	.availCheckBox button#checkAvail{ min-height:100%; padding:0; background-position:center center; vertical-align:top;}
	.fixedHeader .availCheckBox .checkCol1{ padding-left:5px; padding-right:5px;}
	.fixedHeader .availCheckBox .select-location{ background-position:85% 11px;}
	.availCheckBox .container{width:97%}
	.availCheckBox .checkAvailabilityBtn{text-align:center; height:40px; min-height:40px;}
	.availCheckBox button{ height:45px; width:45px; background-position:center center; text-indent:-9999px; min-height:45px; background-size:20px;}
	.checkAvailabilityBtn { padding:0 10px;}
	.availCheckBox {bottom:0;}
	.facilities5B li img{ max-width:100px; max-height:100px;}
	.item-box, .item-box-home{ width:98%; margin:0 auto 30px auto; float:none;}
	.hotelItems .noMarginRight{margin-right:auto !important; margin-bottom:0;}
	.owl-prev{  left: 0%;}
	.owl-next{  right: 0;}
	footer .container{width:97%}
	.footer_bottom .container .row, .quickLinks .container .row { padding-left:15px; padding-right:15px; }
	.social_icons {text-align:left}
	
	.listingRoom{width:90%; margin-left:auto; margin-right:auto; position:relative;}
	.listingRoom .left{ width:100%;}
	.listingRoom .right{width:100%;}
	
	.listingRoom .right{padding-left:0; margin-top:5px;}
	.listingRoom .roomInfo{ border-right:none; width:100%; margin:20px 0; }
	.listingRoom .roomInfo h4{font-size:16px;}
	
	.listingRoom .amenities{margin-top:20px;}
	.listingRoom .amenities .icons li{ margin-right:8px;}
	.listingRoom .amenities .icons li span{ display:none}
	
	
	.listingRoom .amenities .icons li{ border:none; width:auto; height:auto;}
	.priceTag { font-size:12px; margin-top:-15px;}
	.priceTag span.price{ font-size:26px; line-height:50px; display:inline-block;}
	.priceTag span.taxTxt{font-size:10px; position:relative; top:-8px;}
	
	#discountOffers .code{margin: 5px 0 8px 0;}
	.listingBar{ padding:0 10px;}
	
	.roomDetails .linkCol{clear:both; text-align:center; padding-top:10px;}
	.roomDetails .moreRooms { display:inline-block; margin:0 5px;  font-size:13px; padding: 10px 18px; }
	.roomDetails .colsRD label { background-image:none !important; padding-left:0 !important;}
	.roomDetails .quickBook{ display:inline-block; margin:0 5px; padding: 15px 18px; }
	.roomDetails .quickBook button{ padding:15px 25px;}
	
	.roomDetails .detCol{text-align:center;}
	.roomDetails .colsRD{display:inline-block; float:none; padding:0 6px;}
	.roomDetails .vertLine{display:none;}
	
	.singleListingRoom,.selectedRooms,.roomTypesList,.singleWhiteBox,#payment,#userProfile{width:90%; margin-left:auto; margin-right:auto;}
	.singleListingRoom .roomInfo{border:none;}
	.singleListingRoom .roomReview{text-align:left; padding-bottom:20px;}
	
	.singleListingRoom .amenities{ padding-left:0; padding-top:20px;}	
	.singleListingRoom .amenities .icons{margin-left:0;}
	
	#singleListing .selectedRooms .selectedDates{padding:0; background:none;}
	#singleListing .selectedRooms > .row > .col-md-5{padding:0;}
	#singleListing .selectedRooms > .row > .col-md-7 > .row > div, .selectedRooms > .row > .col-md-5 > .row > div{border:none; text-align:center; padding:10px 0;}
	
	.singleRoomType{display:block}
	.singleRoomType .roomTypeImg{width:100%; float:none; width:100%; margin:0;height:180px;}
	.singleRoomType .roomInfo{clear:both; width:100%; padding:30px 0; float:none; border:none; text-align:center;}
	.singleRoomType .priceTag{ float:none; width:100%; padding-bottom:30px;}
	.singleRoomType .update_select_btn{text-align:center;}
	.singleRoomType .update_select_btn span{ float:left}
	
	.mapLocation{padding-top:15px;}
	
	.ratingReview .roomReview{width:100%; text-align:center; border:none; padding-bottom:15px; padding-left:0;}
	.ratingReview .ratingValue{width:100%; text-align:center; padding:0;}
	
	.policies .cancellation, .policies .timingTerms{ width:100%; border-right:none;}
	.paymentDetails{ border-left:none; padding-top:30px;}
	
	.couponCodeInput input{width:65%; background:transparent; height:100%;  border:none; padding:10px;}
	.couponCodeInput button{width:35%; color:#FFF; background-color:#666666; border:none;}
	.paymentDetails, .bookingCost{ font-size:12px;}
	.bookingCost .right{font-size:14px;}
	
	.guestForm{padding:0;}
	
	#userProfile .profileLeft{ width:100%;}	
	.profileBookedList .bookedHotelInfo{ width:50%;margin-left:0; display:inline-block; margin-top:15px;}
	.profileBookedList .datePlanning{ width:45%; display:inline-block; vertical-align:top; margin-top:20px;} 	
	.bookedHotelInfo h4.roomTitle{ font-size:12px;}
	.bookedHotelInfo .address{ font-size:11px;}
	.bookedHotelInfo .stayInfo{ font-size:12px;}
	.bookedHotelInfo .pricePerNight{font-size:12px}
	.bookedHotelInfo .pricePerNight span{ font-size:14px;}
	
	.tabBG{ padding:40px 10px 10px 10px;}
	
	.teamMembers { max-width:300px; margin:0 auto;}
	.textContent p, .webContent p{ clear:both;}
	.webDetails{ width:100%;}
	
	.fiveb-fixed img{ xwidth:500px;}
	
	.offerBox{max-width:350px;}
	.owl-carousel{max-width:86%; margin:0 auto; overflow:hidden;}
	.home-newsletter .single {max-width: 80%;}
	.home-newsletter .input-group input{width:55%;}
	.home-newsletter .input-group .btn{width:45%;}
	.ourTeam,.teamCEO{display:block;}
	.teamCEO .image,.teamCEO .details{width:100%;}
	
	.bookedRooms > .row > div{padding-bottom:20px;}
	.bookedRooms > .row > div:last-child{padding-bottom:0;}
	#payment .bookedRooms div.cntOuter{border:none;}
	.editBookedRooms{padding:20px 0 0 0;}
	#userProfile .profileRight{margin-top:30px;}
	
	#pressTab .col-sm-3,#webTab .col-sm-3,#socialTab .col-sm-3{text-align:center; margin-bottom:20px;}
	
	#search-form-mbl{ padding:30px;}
	
	#search-form-mbl .form-group{ padding-bottom:10px;}
	.brdrBtn{border-bottom:1px solid #CCC; }
	
	.menuRight{ height:40px; line-height:40px;}
	
	.menuRight a{ height:100%; line-height:37px;}
	
	.popupSearchHotels{ padding:10px; background:#FFF; border:1px solid #ccc; height:100%; display:block; position:absolute; top:0; left:-1000px; width:100%; z-index:999}
	.popupSearchHotels .close{ position:absolute; right:10px; top:10px; width:30px; height:30px; cursor:pointer; display:block; z-index:1000;}
	.popupSearchHotels .mblChkDates{  padding: 6px 19px; border-right: 1px solid #cccccc; min-height: 50px;    height: 60px;    width: 100%; background-color:#FFF;}
	.popupSearchHotels .inOutDates .date {    font-size: 30px;}	
	.popupSearchHotels .inOutDates .arrowRight {   font-size: 20px;    padding: 0 15px;    color: #999999;}	
	.popupSearchHotels .select-location { float:left; width:75%; border-radius: 3px;overflow: hidden; background: url("../images/down-arrow.png") no-repeat 55% center; display:inline-block; font-size:18px; text-align:center; margin-left:10px;}
	.popupSearchHotels .select-location select {    padding: 5px 8px;    width: 120%;    border: none;    box-shadow: none;    background: transparent;    background-image: none;    -webkit-appearance: none; cursor:pointer;}	
	.popupSearchHotels .select-location select:focus {    outline: none;}
	.popupSearchHotels button#checkAvail{width: 100%;height: 100%;min-height: 71px;font-size: 14px;background-image: url("../images/search-icon.png");background-repeat: no-repeat;background-position: 20px center; padding-left:30px;}
	.mblSearchHotels{position:absolute; bottom:0px; width:100%; z-index:11; text-align:center; cursor:pointer; left:0px; background-color:#FFF; }
	.mblSearchHotels img{display:block}
	.multipleBookingFixedHdr{ padding-bottom:0px;}
	.multipleBookingFixedHdr .selectedRooms{padding:0;}
	.multipleBookingFixedHdr .selectedDates{ background-size:13%; background-position:left center; padding-left:25%; padding-bottom:10px; }
	.multipleBookingFixedHdr .selectedDates span{ line-height:normal}
	.multipleBookingFixedHdr .stayInfo{ margin-top:0px;}
	.multipleBookingFixedHdr .quickBook { width:125px;margin-top:-15px;}
	.selectedRooms .quickBook button{width:100%; padding-top:7px; padding-bottom:7px;}
	.popupSearchHotels button#checkAvailmb{width: 100%;height: 100%;min-height: 71px;font-size: 14px;background-image: url("../images/search-icon.png");background-repeat: no-repeat;background-position: 20px center; padding-left:30px;}
	.mFLeft{ margin-left:0}
	
	.editBookedRooms .okBtn{ margin-left:0; float:right; margin-top:25px;}
	#floatingBox{height:auto}  .fixed{width:100%;}
	
	.roomDetails .colsRD select{ display:inline-block}
	
	footer{padding-left:20px; padding-right:20px;}
	.roomDetails .quickSold{ display:inline-block; margin:0 5px; padding: 15px 18px; }

}
	
@media only screen and (max-width: 680px) {
	.availCheckBox .checkCol1 img{ display:none;}
	.availCheckBox .select-location, .availCheckBox .inOutDates { width:100%; text-align:center}
}

/* added */
@media only screen and (max-width: 523px){
	.roomDetails{width:auto}
	.detCol{width:100%; display:inline-block;}
	.linkCol{clear:both; width:100%; display:inline-block; margin-top:5px;}
	.bookingCost .right a{ font-size:12px;}
}	
/* --added */

@media only screen and (max-width: 485px) {
	.paymentfinal .payinfo label{padding:5px;}
	.paymentfinal .payinfo .subtotal{border-bottom:1px solid #E2E2E2;}
	.paymentfinal .payinfo .subcoupon a{color:#006699;padding:10px;font-weight:bold;font-size:12px;display:block;}
	.ratingReview .roomReview .reviewpoint{color:#000;font-size:20px;font-weight:normal;text-align:center;margin-left:10px;}
	
.ratingReview .roomReview .review_count{margin-left:10px;}
	
	.ratingReview .reviewmargin{border-right:0px solid #ccc;}
	/*.availCheckBox .select-location { font-size:14px;background-position:98% 16px;}*/
	
	
	.offerBox .offer_content{ width:100%;}
	.offerBox img{ display:none}
	.offerBox .right{ width:100%;}
	.facilities5B li img{ max-width:80px; max-height:80px;}
	
	.testimonial{ padding: 70px 10px 30px; }
    .testimonial .description:before{ top: -20px }
    .testimonial .title{ font-size: 12px; }
    .testimonial .post{ font-size: 11px; }
	.owl-prev{  left: 0%;}
	.owl-next{  right: -10%;}
	
	#paymentCards img{ width:70%;}
	
	.facilities5B li, .facilities5B li span{ font-size:9px;}
	.facilities5B li div{xdisplay:none; }	
	.amenities .priceTag{float:none; padding:10px 0; margin:0; clear:both; text-align:center;}
	.listingRoom .amenities .icons{text-align:center;height:40px;width:40px;float:left;padding:5px;}
	
	.selectedRooms{  background-position:30px 25px; }
	.selectedRooms .smCol1, .selectedRooms .smCol2{width:100% !important; float:left; text-align:center; padding:0 10px; border-right:none}	
	.stayInfo, .selectedDates{padding:6px 0 0 0px}
	.selectedRooms .smCol3{position: absolute;right: 7px;top: 23px;}	
	.selectedRooms .smCol3.borderRight{ border-right:none}
	.selectedRooms .smCol4{width:100% !important; clear:both; float:left; text-align:center; margin:10px 0 0 0;}
	#payment .chosenDates{font-size:11px;}
	
	#paymentForm{font-size:13px;}
	.payNowBtn{width:85px;}
	.payNow .payableAmt{ font-size:15px; padding-left:15px; padding-top:15px;}
	.font24{font-size:16px;}
	
	.profileBookedList .datePlanning{ width:100%; padding-left:0;}
	.profileBookedList .bookedHotelInfo{width:100%; border-right:none}
	
	#click_search_hotels{ width:100%;}
	
	.multipleBookingFixedHdr .selectedRooms{width:96%;}
	.multipleBookingFixedHdr .selectedDates{ font-size:11px;}
	.multipleBookingFixedHdr .selectedDates span{ width:51px;line-height:20px;}
	.multipleBookingFixedHdr .stayInfo{ font-size:11px}
}

@media only screen and (max-width: 369px) {
	.dateCol{ padding-right:5px !important; border-right:none !important;}	
}


@media screen and (max-width: 650px) {
  .profileRight label {    font-size: 14px;  }
  .profileRight label:before {    margin: 0;    font-size: 18px;  }
}

@media screen and (max-width: 400px) {
 .profileRight  label {    padding: 15px;  }
}

@media only screen and (min-width: 1600px){
	.visibleLG{display:inline-block !important;}
}

@media only screen and (max-width: 767px) {
	
	.box{border: 0px solid #fff !important;padding:0px !important;}
	.arrowmobileRight{ font-size:20px; display:block;margin:10px !important; color:#999999 !important; }
	
	.availCheckBox input { border: none; border-color: transparent;font-size: 14px;}
.availCheckBox input:focus{outline: none;}
.availCheckBox .form-control{height:44px;border-color: transparent;box-shadow:none;}
.overlay{  position: absolute;  content:" ";  top:0;  left:0;  width:100%;  height:100%;  display: block;  z-index:2;  xbackground-color: rgba(137,187,66,0.5); -webkit-transition: background-color 1s ease-out; -moz-transition: background-color 1s ease-out;  -o-transition: background-color 1s ease-out;  transition: background-color 1s ease-out;}
}

