/* CSS Document */

@font-face {    font-family: 'Roboto-Bold';    src: url('fonts/Roboto-Bold.ttf');}
@font-face {    font-family: 'Roboto-Regular';    src: url('fonts/Roboto-Regular.ttf');}
@font-face {    font-family: 'Roboto-Thin';    src: url('fonts/Roboto-Thin.ttf');}
@font-face {    font-family: 'Roboto-ThinItalic';    src: url('fonts/Roboto-ThinItalic.ttf');}
@font-face {    font-family: 'Roboto-Medium';    src: url('fonts/Roboto-Medium.ttf');}
@font-face {    font-family: 'Roboto-Light';    src: url('fonts/Roboto-Light.ttf');}
@font-face {    font-family: 'Courgette-Regular';    src: url('fonts/Courgette-Regular.ttf');}


*{margin:0; padding:0;}

* {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}

*:before,*:after {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}

a {   outline: 0 !important;   text-decoration:none;}

a:hover, a:active, a:focus {    outline: 0 !important;}

input::-moz-focus-inner {     border: 0 !important;}

html {    width: 100%;    height: 100%;}

body {    width: 100%;    height: 100%;}

body{font-family:'Roboto-Regular'; font-size:16px; color:#333; background:#e6e7e8; }

a{ text-decoration:none; color:#333;}

ul, li{margin:0; padding:0}

li{list-style:none}

input{background:Tranparent; border:1px solid #cccccc;}

.img-circle{ border-radius:50%;}

.img-responsive{ display:inlin-block; max-width:100%;}

.paddingLR30{ padding-left:30px; padding-right:30px;}

.noBorderRight{border-right:0px !important;}

.noBorder{border:0px !important;}

.borderRight{border-right:1px solid #cccccc;}

.noMarginRight{margin-right:0px !important; }

.dFlex{display:flex;}

.btn{text-align:center; color:#333; border-radius:0; box-shadow: -2px 6px 7px -5px #333; text-transform:uppercase; padding:5px 15px; border:none; font-size:14px;   }
.greenBtn{background-color:#89bb42;  }
.greyBtn{background-color:#e6e7e8; border:1px solid #cccccc;  }

.separator{clear:both; width:100%; height:1px; background-color:#ccc; margin:6px 0;}

.separator.bgcolor{ background-color:#e6e7e8; margin:1px 0;}

.whiteLine{background-color:#FFF;}

.boxShadow{box-shadow: -2px 6px 7px -5px #333; }

.whiteBox{ background:#FFF; width:100%;}

.cntOuter{display:table; height:100%; width:100%;}

.cntInner{display:table-cell; height:100%; vertical-align:middle; width:100%;}

.medium{ font-family:"Roboto-Medium"}

.bold{ font-family:"Roboto-Bold"}

.font24{font-size:24px;}

.text-center{text-align:center}

.height100{height:100%;}

.dsFlex{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}

/* Header */

header{ padding:10px 40px; position:relative; z-index:1; background:#FFF; position:absolute; width:100%;}

header.innerPage{ position:relative; border-bottom:1px solid #cccccc; }

header .logo img{width:171px;}

/************* Menu **************/

.text-right{text-align:right;}

.menu{display:inline-block; margin-top:10px;}

.menu ul{margin:0; padding:0;}

.menu ul li{list-style:none; display:inline-block; background:center right no-repeat;}

.menu ul li:last-child{background:none;}

.menu ul li a{padding:0 30px; line-height:48px; font-size:18px; font-family:'Roboto-Light'; color:#333;transition: 0.4s;}

.menu ul li a:hover,.mnuContant a{color:#000;transition: 0.4s;}

.menuRight{display:inline-block; border:1px solid #e6e7e8; font-size:18px; font-family:'Roboto-Light'; text-align:center; line-height:48px; height:50px;}

.mnuLogin{display:inline-block; width:95px; height:48px; margin-right:1px; background:#89bb42; color:#FFF;}

.mnuSignup{display:inline-block; width:95px; height:48px; margin-right:1px; background:#e6e7e8; color:#333;}


.mnuContant{display:inline-block; padding:0 15px;}

.mnuContant a{ color:#333;transition: 0.4s; font-size:16px;}

.mnuContant a:first-child{ border-right:1px solid #e6e7e8; padding-right:15px; margin-right:15px;}

.mnuContant i{color:#89bb42; }

.mnuProfile{background:#e6e7e8; padding:0 10px; float:right; height:100%; position:relative;z-index:9999;}

.mpAvatar{float:left; height:36px; width:36px; background-position:center center !important; background-size:cover !important; border-radius:50%; margin:6px 8px 0 0;}

.mpUsername{display:inline-block; font-size:14px; font-family:'Roboto-Medium';}

.mpUsername a{color:#006699;}

.mpUsername i{display:inline-block; margin:0 5px; font-size:25px; color:#999999; position:relative; top:4px;}

.mpSubMenu{position:absolute; top:49px; left:0; right:0; width:100%; background:#FFF; border:1px solid #e6e7e8; -webkit-box-shadow: 3px 3px 10px 4px rgba(0,0,0,0.2); -moz-box-shadow: 3px 3px 10px 4px rgba(0,0,0,0.2); box-shadow: 3px 3px 10px 4px rgba(0,0,0,0.2); padding:25px; display:none;}

.mpSubMenu ul li{margin:15px 0; line-height:20px; text-align:left;}

.mpSubMenu ul li:first-child{margin-top:0;}

.mpSubMenu ul li:last-child{margin-bottom:0;}

.mpSubMenu ul li a{font-size:14px; color:#666666; font-family:'Roboto-Light';transition: 0.4s;}

.mpSubMenu ul li a:hover{color:#000;transition: 0.4s;}

.visibleLG{display:none;}

.rspMenu{display:none;}

/* Banner */
banner{ position:relative; xtop:0; width:100%; background-image:url(../images/banner-1.jpg); background-repeat:no-repeat; background-size:cover; height:640px; background-position:center center; max-height:640px; float:left; padding-top:115px; }

.indexBanner{position:relative; width:100%; height:100%; max-height:527px;}

banner .banner-content {    color: white;    width: 100%;    text-align: center;    position: absolute;    top: 40%;    transform: translateY(-40%); -webkit-transform: -webkit-translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}

banner .banner-content h1{ font-size:60px; text-transform:uppercase; font-family:"Roboto-Thin";color:#333;}

banner .banner-content h1 span{ font-family: 'Roboto-Medium';}

banner h5.withTxt {    overflow: hidden;  font-size:24px;   text-align: center; font-family: 'Courgette-Regular';color:#333;}

banner h5.withTxt:before, banner h5.withTxt:after {    background-color: #333;    content: "";    display: inline-block;    height: 1px;    position: relative;    vertical-align: middle;    width: 18%;}

banner h5.withTxt:before {    right: 0.5em;    margin-left: -50%;}

banner h5.withTxt:after {    left: 0.5em;    margin-right: -50%;}

banner .fiveBs{ background-image:url(../images/5b-grey.png); background-repeat: no-repeat; background-position: top center; width:100%; height:95px; text-align:center; margin-top:10px;}

.availCheckBox {}

.bannerAvailBox{position:absolute; bottom:0; width:100%;}

.availCheckBox .container{background-color:#FFF; height:auto; xpadding-top:12px; xpadding-bottom:12px; display:table;}

.availCheckBox .checkCol1{ padding:12px 28px; border-right:1px solid #cccccc; min-height:50px; height:73px; width:100%; xline-height:73px;  } 

.availCheckBox .checkCol1 img{vertical-align:middle; float:left;}

.availCheckBox .select-location { float:left; width:75%; border-radius: 3px;overflow: hidden; background: url("../images/down-arrow.png") no-repeat 88% center; display:inline-block; font-size:18px; text-align:center; margin-left:10px;}

.availCheckBox .select-location select {    padding: 10px 8px;    width: 100%;    border: none;    box-shadow: none;    background: transparent;    background-image: none;    -webkit-appearance: none; cursor:pointer;}

.availCheckBox .select-location select:focus {    outline: none;}

.availCheckBox .inOutDates{ float:right; width:77%; line-height:50px; font-size:18px;}

.availCheckBox .inOutDates .date{ font-size:30px;}

.availCheckBox .inOutDates .arrowRight{ font-size:20px; padding:0 15px; color:#999999; }

.availCheckBox .checkAvailabilityBtn{min-height:50px; height:60px; width:100%; padding:0 10px; text-align:center; margin-top:5px;}

.availCheckBox button#checkAvail{ width:100%; height:100%; font-size:18px; background-image:url("../images/search-icon.png"); background-repeat: no-repeat; background-position:20px center}
.availCheckBox button #checkAvailmb{ width:100%; height:100%; font-size:18px; background-image:url("../images/search-icon.png"); background-repeat: no-repeat; background-position:20px center}
.availCheckBox .select-location select option {border:none; background: #FFF; padding:5px;}


#startDatePicker, #endDatePicker, #startDatePickerFH, #endDatePickerFH{ display:none}

#customStartDate, #customEndDate, #customStartDateFH, #customEndDateFH{ cursor:pointer}

.innerPageAvailBox{ width:100%; background-color:#FFF;}

/* Fixed Header */

.fixedHeader{ width:100%; z-index:110; height:100px; position:fixed; background-color:rgba(255,255,255,1); top:0; left:0; padding:0 15px; display:none; border-bottom:1px solid #cfcfcf;}

.fhLogo{position:absolute; left:20px; max-width:150px; top:10px;}

.fHRight{ padding:5px 0; text-align:right; float:right}

.fixedHeader .greenBtn{background-color:#cccccc;}

/* Content */


section.nogreybox{ width:100%; padding:25px 0;}

h1.heading1 {    overflow: hidden;  font-size:24px;   text-align: center; font-family: 'Roboto-Light';color:#333; margin:50px 0;}

h1.heading1 span{ font-family: 'Roboto-Medium';}

h1.heading1:before, h1.heading1:after {    background-color: #cccccc;    content: "";    display: inline-block;    height: 1px;    position: relative;    vertical-align: middle;    width: 50%; font-size:24px;}

h1.heading1:before {    right: 30px;    margin-left: -50%;}

h1.heading1:after {    left: 30px;    margin-right: -50%;}

.offerBox{  width:100%; padding:10px 15px; position:relative; height:auto; margin:0 auto 50px auto;}

.offerBox img{ position:absolute;  max-width:119px; max-height:119px;}

.percentImg{left:20px; top:23px;}

.splOfrImg{left:10px; top:10px;}

.offerBox .right{ float:right; min-width:280px; xpadding-left:150px; text-align:center;}

.offerBox .t_c_apply{ font-size:11px; font-family: 'Roboto-Light'; text-align:right; width:100%;}

.offerBox .offer_content{ padding:0 20px; width:100%; text-align:center; color:#FFF; font-family:"Roboto-Medium"; font-size:18px; margin-top:-10px;}

.offerBox .offer_content .offPrice{ font-size:30px;}

.offerBox .offer_content .useCode{ background-color:#FFF; text-align:center; width:100%; line-height:37px; color:#333; display:inline-block; margin:5px 0; border:1px dashed #999;}

.offerBox .offer_content .useCode span.ucTxt{ font-family:"Roboto-Regular"}

.ribbon5BGreen{ text-align:center; width:97%;}

.facilities5B {margin:50px 0; float:left; width:100%;}

.facilities5B li{ padding:0 25px; width:20%; text-align:center; float:left; font-size:14px;}

.facilities5B li:last-child{padding-right:0}

.facilities5B li img{display:inline-block; padding-bottom:20px;}

.facilities5B li span{font-size:18px; text-transform:uppercase;}

.hotelItems{width:100%; clear:both; float:left; margin-bottom:50px;}

.item-box{ width:32%; margin-right:19px; background-color:#FFF; border:1px solid #cccccc; padding:10px;  box-shadow: -2px 6px 7px -5px #333; float:left; max-width:320px;}

.item-box-home{ width:100%; margin-right:19px; margin-bottom:5px;  background-color:#FFF; border:1px solid #cccccc; padding:5px;  box-shadow: -2px 6px 7px -5px #333; float:left; max-width:315px; position:relative;}



/*.item-box-home:hover .overlay{background-color: rgba(137,187,66,0);-webkit-transition: width 2s;    -webkit-transition: background-color 1s ease-out; -moz-transition: background-color 1s ease-out;  -o-transition: background-color 1s ease-out;  transition: background-color 1s ease-out; }
*/

.item-box-home h3{ position:absolute; top:45%; width:100%; text-align:center; color:#fff; z-index:2}

.item-box .itemImage, .item-box-home .itemImage{ width:100%; height:230px; background-repeat:no-repeat; background-position:center center; background-size:cover;}

.itemDetails { color:#666666; font-size:14px; margin-left:6px; }

.itemDetails h4{ color:#669900; font-size:18px; font-family:"Roboto-Medium"; margin:25px 0; font-weight:normal; text-transform:uppercase;}

.itemDetails .address{ background-image:url(../images/location-icon-small.png); background-repeat:no-repeat; line-height:24px; padding-left:25px; }

.itemDetails .price_review{ margin-top:50px; margin-bottom:13px; width:100%;}

.itemDetails .price_review .left{ float:left; width:60%; color:#666;}

.itemDetails .price_review .right{ float:right; width:35%; text-align:right}

.itemDetails .price_review .left .cost_per_night{ font-size:16px; }

.itemDetails .price_review .left .cost_per_night span{ color:#0a5589; font-family:"Roboto-Bold"; font-size:24px; }

.itemDetails .price_review .left .cost_off { font-size:14px; line-height:30px;}

.itemDetails .price_review .left .cost_off span{ text-decoration:line-through; }

/*.rating {  unicode-bidi: bidi-override;  direction: rtl; font-size:20px;}

.rating > span {  display: inline-block;  position: relative;  width: 0.8em;}

.rating > span:hover:before,.rating > span:hover ~ span:before {   content: "\2605"; color:#ff6600;   position: absolute;}
*/
.review_count{font-size:14px; }

hr.line{ display: block;    height: 5px;    border: 0;    border-bottom: 1px solid #ccc;    margin: 15px 0; width:100%; clear:both; padding:0 }

.bookNowBtn{ display:block; clear:both; width:169px; height:54px; margin:0 auto; font-size:16px; line-height:46px;}

.itemDetails .rating-input{margin:8px 0}

.rating-input i{ padding-right:2px;}

.rating-input .fa-star{ color:#ff6600;}

/*.rating-input i:hover{ color:#ff6600;}*/

.testimonial{    padding: 70px 30px 50px;    margin: 50px 30px 50px;    position: relative; background-color:#FFF;}

.testimonial .pic{    width: 100px;    height: 100px;    border-radius: 50%;    border: 5px solid #FFF;    overflow: hidden;    margin: 0 auto;    position: absolute;    top: -50px;    left: 0;    right: 0;}

.testimonial .pic img{    width: 100%;    height: auto;}

.testimonial .description{    font-size: 15px;    color: #666666;    line-height: 27px;    text-align: center;    margin: 0;    position: relative; font-family:"Roboto-Light"; padding:30px 15px 15px 15px;}

.testimonial .description:before{    content: "\f10d";    font-family: 'FontAwesome';    font-size: 25px;    color: #999999;    position: absolute;    top: 0;   left: -2px;}

.testimonial .description:after{    content: "\f10e";    font-family: 'FontAwesome';    font-size: 25px;    color: #999999;    position: absolute;    bottom: -15px;   right: -2px;}

.testimonial .title{ width:100%; text-align:center;  margin: 0 auto;    font-size: 18px;    color: #333333;    letter-spacing: 1px;    position: absolute;    bottom: -50px;    left: 0;    right: 0;}

.testimonial .post{    font-size: 15px;    color: #671a36;}

.owl-theme .owl-controls{    width: 100%;    height: 50px;    opacity: 1;    position: absolute;    top: 50%;}

.owl-theme .owl-controls .owl-buttons div{    width: 12px;    height: 50px;    line-height: 40px;    border-radius: 0;    background: transparent;}

.owl-prev{    position: absolute;    left: 0;}

.owl-next{    position: absolute;    right: 0;}

.owl-prev:after,.owl-next:after{    content: '\f104';    font-family: 'FontAwesome';    font-size: 30px;    color: #999999;    opacity: 1;}

.owl-next:after{ content: '\f105'; }

#paymentCards{ clear:both; width:100%; text-align:center; padding-top:50px; }

.home-newsletter {padding: 50px 0;}

.home-newsletter .single {max-width: 500px;margin: 0 auto;text-align: center;position: relative;z-index: 2; }

.home-newsletter .single h2 {font-size: 18px;margin-bottom: 30px; color:#333; }

.home-newsletter .input-group{ width:100%; height:50px;}

.home-newsletter .input-group input{ float:left; width:70%;background:#FFF; border-radius:5px 0 0 5px;  padding:10px 24px; border:none; height:100%}

.home-newsletter .input-group .btn{ float:left; width:30%; text-align:center;  border-radius:0 5px 5px 0 !important; font-size:16px; color:#FFF; background-color:#88ba40; border-radius:0; height:100%;}

/* Footer */

footer{padding:0 70px 30px 70px;}

.quickLinks .container .row{ padding-left:65px; padding-right:65px; }
	
.quickLinks h6{ font-size:16px; color:#333; margin-bottom:20px;}

.quickLinks li, .quickLinks p{ font-family:"Roboto-Light"; line-height:24px;}

.quickLinks ul{ margin-bottom:20px;}

.mFLeft{ margin-left:15px;}

.quickLinks p{ margin-bottom:25px;}

.quickLinks p span{font-family:"Roboto-Medium"; }

.footer_bottom{ font-size:14px; line-height:24px; padding-top:30px;}

.footer_bottom .container .row{ padding-left:65px; padding-right:65px; }

.social_icons span{ padding-right:10px;}

.social_icons a{display:block; padding:8px 0;}

.social_icons [class*="fa fa-"] {    background-color: #97c359;    border-radius: 30px;    color: #fff;    display: inline-block;    height: 30px;    line-height: 30px;    xmargin: auto 3px;    width: 30px;    font-size: 15px;    text-align: center; margin-right:10px;}

/* Listings Page */

#discountOffers{ width:100%; text-align:center; color:#FFF; padding:10px 0; background:#669999; position:relative; font-size:18px; margin:20px 0; }

#discountOffers img{display:inline-block; position:absolute; left:15%; top:6px;}

#discountOffers span.medium{ font-family:"Roboto-Medium"; font-size:30px;}

#discountOffers .code{ display:inline-block; padding:10px 20px; background:#FFF; color:#006666; font-size:18px; margin:0 10px;}

#discountOffers .t_c_apply{ position:absolute; right:10px; bottom:7px; font-family:"Roboto-Light"; font-size:11px; color:#333;}

/* Listings */

#hotelListings{margin-bottom:20px;}

.listingBar{ margin:0 0 20px 0; line-height:28px;}

.listingBar select#sortBy{ width:100%; background-color:#FFF; border:none; font-size:14px; font-family:"Roboto-Light"; height:30px; padding:0 5px;}

.listingRoom{width:100%; margin-bottom:40px; padding:15px; background:#FFF; display:table;}

.listingRoom .left{ width:22%; float:left;}

.listingRoom .right{width:78%; float:left; padding-left:14px;}

.listingRoom .left .roomImage{ width:100%; height:221px;  background-repeat:no-repeat; background-size:cover; background-position:center center;}

.listingRoom .left .roomsLeft{ display:block; width:100%; text-align:center; line-height:45px; background-color:#e6e7e8; border-top:1px solid #FFF;}

.listingRoom .roomInfo{ float:left; width:75%; border-right:1px solid #ccc; min-height:56px; margin-bottom:5px;}

.listingRoom .roomInfo h4{ color:#669933; font-size:18px; font-family:"Roboto-Medium"; margin-bottom:4px;}

.listingRoom .smallTxt{ background-repeat:no-repeat; line-height:24px; padding-left:25px; font-size:14px; color:#666666;text-transform:uppercase;}

.listingRoom .smallTxt.address{background-image:url(../images/location-icon-small-blue.png);}

.listingRoom .smallTxt.amenity{background-image:url(../images/amenity-icon-blue.png);}

.listingRoom .roomReview{ float:left; width:15%; padding-left:15px; text-align:center}

.listingRoom .rating-input{margin:5px 0}

.listingRoom .ratingMbl .rating-input { width:85px; display:inline-block;}

.listingRoom .ratingMbl .rating-input i{ font-size:11px;}

.listingRoom .ratingMbl .review_count{display:inline-block;font-size:11px;}

.listingRoom .amenities{ width:100%; margin-top:5px; position:relative;}

.listingRoom .amenities .icons{ margin-top:10px; float:left;}

.listingRoom .amenities .icons li{ display:inline-block; margin-right:13px; width:44px; height:44px; border:1px solid #ccc; text-align:center; line-height:42px; position:relative; }

.listingRoom .amenities .icons li img{vertical-align: middle;height:30px;  white-space: nowrap;}

.listingRoom .amenities .icons li span{position:absolute; bottom:-20px; text-align:center; width:44px; left:0; font-size:12px; color:#666666; line-height:12px;}

.priceTag{ float:right; width:auto; padding:0 20px; text-align:center; width:auto;  margin-top:-10px; margin-right:50px;font-size:14px; }

.priceTag span.price{ color:#006699; font-size:30px; line-height:50px; display:inline-block; }

.priceTag span.cutoff{ color:#ff6600; text-transform:uppercase; font-weight:600;position:relative;}

.priceTag span.strike{ color:#666; position:relative;}

.priceTag span.strike::after {    content:"";    position:absolute;    top:50%; left:0; width:100%; height:1px;     background:#666;    transform:rotate(0deg);}

.priceTag span.taxTxt{font-size:11px;}

.roomDetails{ width:100%; padding:6px; border:1px solid #cccccc; clear:both; margin-top:15px; display:inline-block}

.roomDetails .colsRD{ float:left; width:auto;}

.roomDetails .vertLine{     width: 1px; background-color: #ccc; height: 100%; float: left; margin:5px 5px 0 5px; min-height:60px    }

.roomDetails .colsRD label{ font-size:14px; color:#666666;  background-repeat:no-repeat; background-position:2px 4px; line-height:25px; font-weight:normal;}

.roomDetails .colsRD select{background:#FFF; border:1px solid #ccc; display:block; width:100%; padding:5px 2px; color:#666;}

.roomDetails .colsRD label.rtype{background-image:url(../images/room-type-icon.png); padding-left:50px; }

.roomDetails .colsRD label.roomsno{background-image:url(../images/rooms-icon.png); padding-left:40px; }

.roomDetails .colsRD label.guests{background-image:url(../images/guests-icon.png); padding-left:30px; padding-right:10px; }

.roomDetails #adults, .roomDetails #child{ width:47%; display:inline-block;}

.roomDetails .moreRooms{ padding:13px 20px; text-align:center; background-color:#006699; display:inline-block;color:#e6e7e8; }
.roomDetails .moreRooms a{color:#e6e7e8;}
.roomDetails .quickBook a{color:#333333;}
.roomDetails .quickBook{ padding:23px 20px; background-color:#89bb42;  display:inline-block; vertical-align:top;}
.roomDetails .quickBook button{background:transparent; box-shadow:none; border:none}

.soldout{ padding:23px 15px; background-color:#e6e7e8; color:#ff0000; display:inline-block; vertical-align:top; float:right; clear:both; margin-top:25px;}

#customerReviews{padding-bottom:50px;}

.orange.ribbon{ background: #ff6600;font-size:14px;}

.blue.ribbon{ background: #666699;font-size:12px;}

.ribbon {	width: auto;	right:-14px; top:12px;   	position: absolute;	color: #fff;	text-align: center;	padding: 0.5em 10px; /* Adjust to suit */	-webkit-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);	-moz-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);	box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.75);}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after { content: ""; position: absolute; display: block; border-style: solid;  bottom: -1em;}

.ribbon.blue .ribbon-content:before, .ribbon.blue .ribbon-content:after {border-color: #272774 transparent transparent transparent;}

.ribbon.orange .ribbon-content:before, .ribbon.orange .ribbon-content:after {border-color: #762700 transparent transparent transparent;}
	
.ribbon .ribbon-content:before { left: 0; border-width: 1em 0 0 1em; display:none}

.ribbon .ribbon-content:after { right: 0; border-width: 1em 1em 0 0;}

/* Single Listing page */

#singleListing{ padding-bottom:20px;}

.singleListingRoom{width:100%; margin-bottom:30px; padding:15px; background:#FFF;}

.singleListingRoom .separator{margin:0 0 30px 0;}

.singleListingRoom .roomInfo{ width:100%; border-right:1px solid #ccc; min-height:56px; margin-bottom:15px;}

.singleListingRoom .roomInfo h4{ color:#669933; font-size:18px; font-family:"Roboto-Medium"; margin-bottom:10px; text-transform:uppercase;}

.singleListingRoom .smallTxt{ background-repeat:no-repeat; line-height:24px; padding-left:25px; font-size:14px; color:#666666;text-transform:uppercase;}

.singleListingRoom .smallTxt.address{background-image:url(../images/location-icon-small.png);}

.singleListingRoom .roomReview{ width:100%; text-align:right}

.singleListingRoom .rating-input{margin:5px 0}

.singleListingRoom .ratingMbl .rating-input { width:85px; display:inline-block;}

.singleListingRoom .ratingMbl .rating-input i{ font-size:11px;}

.singleListingRoom .ratingMbl .review_count{display:inline-block;font-size:11px;}

.singleListingRoom .amenities{ width:100%; position:relative;}

.singleListingRoom .amenities .title{ background-repeat:no-repeat; line-height:24px; padding-left:25px; font-size:18px; color:#006699; margin-left:20px; }

.singleListingRoom .amenities .title{background-image:url(../images/amenity-icon-blue.png);}

.singleListingRoom .amenities .icons{ margin-top:30px; width:100%; margin-left:20px; text-align:center;}

.singleListingRoom .amenities .icons li{ display:inline-block; margin-right:13px; width:72px; height:72px; border:1px solid #ccc; text-align:center; line-height:55px; position:relative; margin-bottom:30px; }

.singleListingRoom .amenities .icons li img{vertical-align: middle; height:30px; width:30px;}

.singleListingRoom .amenities .icons li span{position:absolute; bottom:-20px; text-align:center; width:44px; left:0; font-size:12px; color:#666666; line-height:12px;}

#image-gallery img{width:100%;}

.selectedRooms{ padding:15px; width:100%; background-color:#FFF; font-size:14px; line-height:20px;}

.cMid{ height:80px; vertical-align:middle; display:table-cell;}

.selectedDates {padding-left:50px; padding-top:6px; background-image:url(../images/deee.png); background-repeat:no-repeat; background-position:left 18px; color:#333;}

.selectedDates span, .stayInfo span{ font-family:"Roboto-Light"; color:#666;}

.selectedDates span{display:inline-block; width:70px; line-height:30px;}

.stayInfo{font-family:"Roboto-Medium"; color:#333;}

.selectedRooms .col-md-2.adjW{ width:19.667%; }

.selectedRooms .removeRoom{font-size:30px; color:#999999; }

.selectedRooms .removeRoom a i{color:#999;transition: 0.4s;}

.selectedRooms .removeRoom a:hover i{color:#FF0000;transition: 0.4s;}

.selectedRooms .col-md-1.adjW{ width:7%; }

.selectedRooms .col-md-4.adjW{ width:30%; }

.selectedRooms .priceTag{margin:0; padding:0; float:none;}

.selectedRooms .priceTag .strike{ right:10px;}

.selectedRooms .priceTag .cutoff{ left:5px; font-size:12px;}

.selectedRooms .price{font-size:24px !important; line-height:26px !important;}

.selectedRooms .quickBook a, .selectedRooms .quickBook button{color:#333333; display:block; padding:15px 10px;transition: 0.4s; box-shadow:none; border:none; background:transparent;}

.selectedRooms .quickBook a:hover{color:#FFF; transition:0.4s;}

.selectedRooms .quickBook{background-color:#89bb42;  display:inline-block; vertical-align:top; width:100%; max-width:160px; }

.roomTypesList{ background-color:#FFF; padding:10px; clear:both; margin:30px 0;}

.roomTypesList h4{background-image:url(../images/room-type-icon.png); background-repeat:no-repeat; background-position:left center; padding-left:50px; color:#006699; margin:15px 0; width:100%;}

.roomTypesList .roomTypeImg{ background-repeat:no-repeat; background-position:center center; background-size:cover; width:180px; height:115px; margin-right:10px; float:left;}

.singleRoomType{ padding:10px; display:flex;flex-flow: row wrap; clear:both;}

.singleRoomType.selected{ background-color:#e6e7e8;}

.singleRoomType .roomInfo{ float:left; padding-right:81px; border-right:1px solid #ccc;}

.singleRoomType .roomInfo h3{ color:#333333; text-transform:uppercase; font-size:16px; font-weight:normal;}

.singleRoomType .roomInfo h3 span, .singleRoomType .roomFacility h3{ color:#666666; font-size:14px; text-transform:none;}

.singleRoomType .priceTag{ padding:20px 30px; margin-top:0; margin-right:0; border-right:1px solid #ccc;}

.singleRoomType .update_select_btn{ float:left; margin:37px 20px; width:113px; height:36px; line-height:35px; color:#333333; cursor:pointer;}

.update_select_btn button{ background:transparent; box-shadow:none; border:none}

.rspSep{margin:20px 0 30px 0;}

.singleRoomType.selected .update_select_btn{ background-color:none;}

.singleRoomType .update_select_btn span{ width:35px; height:100%; background-color:#89bb42; color:#FFF; margin-right:10px; text-align:center; display:inline-block;}

.singleRoomType .roomInfo .roomDetails { padding:0px; margin-top:20px;}

.singleRoomType .roomFacility{clear:both; padding-top:15px;}

.singleRoomType .roomFacility .fIcons{clear:both; width:100%; padding-top:10px;}

.singleRoomType .roomFacility .fIcons i{width:auto; padding:5px 10px 0 10px; display:inline-block; font-size:30px; color:#666;}

.singleWhiteBox{background-color:#FFF; padding:10px;}

.hotelContent p{ font-size:14px; color:#666666; line-height:20px; padding:5px 0; word-wrap: break-word;text-transform:capitalize;}

.hotelContent h4, .policies h4{ color:#006699; font-size:18px; line-height:30px;text-transform:}

.ratingReview{padding:20px 20px; margin-bottom:20px;}

.ratingReview .roomReview{ padding-left:240px; border-right:0px solid #ccc; width:100%; display:inline-block;}

.ratingReview .ratingValue{ font-size:18px; color:#666666; display:inline-block;  }

.ratingReview .ratingValue span{ color:#009900; font-size:14px;text-align:center;}

.ratingComments{ margin:0 50px;}

.ratingComments li { padding:15px 0; border-bottom:1px solid #ccc; width:100%; color:#666666;}

.ratingComments li span{ font-size:14px; color:#333333; line-height:24px;}

.ratingComments li p{ font-size:14px; font-family:"Roboto-Light";}

.ratingComments li:last-child{border-bottom:none;}

.commentsReadMore{ text-align:center; width:100%; line-height:50px; margin:10px 0;}

.commentsReadMore a{ display:inline-block; width:180px; height:50px; text-align:center; background-color:#999999; color:#FFF; text-transform:uppercase;}

.policies{ width:100%; padding:20px;}

.policies .cancellation{ font-size:14px; padding:10px 25px; width:100%; color:#666666; border-right:1px solid #ccc; display:inline-block; font-family:"Roboto-Light"; }

.policies .cancellation span, .policies .timingTerms span{ font-family:"Roboto-Regular"; line-height:30px; }

.policiess .timingTerms{ width:100%; padding:20px 25px; font-size:14px; display:inline-block;font-family:"Roboto-Light"; }
.policiess h4{ color:#006699; font-size:18px; line-height:30px;}

/* Payment */

#payment {margin:15px 0;}

#payment .container{background-color:#FFF; padding:15px;}

h4.roomTitle{ color:#669900; font-size:18px; font-family:"Roboto-Medium"; margin:5px 0; font-weight:normal; text-transform:uppercase;}

#payment .address{ background-image:url(../images/location-icon-small.png); background-repeat:no-repeat; line-height:24px; padding-left:25px; font-size:14px; }

#payment .chosenRoomsImg {margin-top:10px; margin-bottom:10px; display:inline-block;}

#payment .chosenRoomsImg img{ max-width:180px; max-height:115px; float:left; margin-right:4px;}

#payment .chosenDates{background-image:url(../images/deee.png); background-repeat:no-repeat; background-position:10px center; width:100%; font-family:"Roboto-Light"; font-size:14px; clear:both; padding-left:60px; line-height:50px; border-bottom:1px solid #ccc;  }

#payment .chosenDates span{font-family:"Roboto-Regular"}

#payment .bookedRooms{ border-bottom:1px solid #ccc; text-align:center; padding:30px 0; width:100%;}

#payment .bookedRooms div.cntOuter{ border-right:1px solid #ccc; font-size:14px;}

#payment .bookedRooms div.cntOuter span{ font-family:"Roboto-Medium"; font-size:16px; }

#payment .bookedRooms div a{ display:inline-block; padding-right:10px;}

.editBookedRooms{ padding:20px 20px 0 20px;}

.editBookedRooms .roomDetails { margin-top:0}

.editBookedRooms .okBtn{ width:36px; height:36px; background-color:#89bb42; text-align:center; line-height:36px; color:#FFF; display:inline-block; margin-top:28px; margin-left:10px;}

.paymentDetails{ border-left:1px solid #ccc; padding: 20px; width:100%;}

.paymentDetails h4{font-size:16px; color:#333; margin-bottom:20px;}

.guestForm{ padding-left:30px; width:100%; padding-right:30px;}

.guestForm input{ border:none; border-bottom:1px solid #e6e7e8; background:transparent; padding:10px 10px 10px 0; margin-bottom:15px; width:100%; }

.bookingCost{ font-size:14px; color:#666666; line-height:24px; margin:30px 0;}

.bookingCost .left{ text-align:right; padding-right:10px;}

.bookingCost .right{ font-size:16px; color:#333333;}

.bookingCost .right .off{color:#ff6600; font-size:12px;}

.bookingCost .right a{color:#006699;}

.bookingCost .medium{color:#333333}

.payNow{ width:100%; margin:10px 0; border:1px solid #ccc; position:relative; height:66px; }

.payNow .payableAmt{padding:12px 0 20px 5px; color:#006699; font-size:18px; line-height:15px;}

.payNowBtn{ position:absolute; right:0; top:0; width:120px; height:64px; border:none; background-color:#89bb42; color:#333333;}

.payNow .payableAmt .smallTxt{ font-size:11px; color:#666666;}

.couponCodeInput{ width:100%; height:50px;background-color:#FFF; margin-top:15px;}

.couponCodeInput input{float:left; width:340px; background:transparent; height:100%;  border:none; padding:10px;}

.couponCodeInput button{float:right; height:100%; width:170px; color:#FFF; background-color:#666666; border:none;}

.couponCode{font-size:14px; color:#333333; margin:10px 0; line-height:24px;}

.couponCode label {    display: block;    position: relative;    padding-left: 35px;    margin-bottom: 12px;    cursor: pointer;    font-size: 22px;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;}

/* Hide the browser's default radio button */
.couponCode label input {    position: absolute;    opacity: 0;}

/* Create a custom radio button */
.selectCode {    position: absolute;    top: 12px;    left: 30px;    height: 25px;    width: 25px;    background-color: #eee;    border-radius: 50%;}

/* On mouse-over, add a grey background color */
.couponCode label:hover input ~ .selectCode {    background-color: #666;}/* When the radio button is checked, add a blue background */

.couponCode label input:checked ~ .selectCode {    background-color: #2196F3;}

/* Create the indicator (the dot/circle - hidden when not checked) */
.selectCode:after {    content: "";    position: absolute;    display: none;}

/* Show the indicator (dot/circle) when checked */
.couponCode label input:checked ~ .selectCode:after {    display: block;}

/* Style the indicator (dot/circle) */
.couponCode label .selectCode:after { 	top: 9px;	left: 9px;	width: 8px;	height: 8px;	border-radius: 50%;	background: white;}

/* Profile Page */
#userProfile{margin:15px 0; }
#userProfile .profileLeft{ margin-right:15px; width:23%;}
#userProfile .profileLeft, #userProfile .profileRight { background: #FFF; xwidth:100%; padding:15px; }
#userProfile .profImg{ width:100%; height:240px;}
#userProfile .profName{ font-family:"Roboto-Light"; position:relative; line-height:20px; margin:10px 0; padding-right:30px; }
#userProfile .profName img{ position:absolute; right:0; top:0; width:24px; height:24px; cursor:pointer;}
.profName span{display:block; padding:5px 5px 5px 0;}
#profile_name{display:none; padding:5px; width:95%;}
.editInfo {font-size:14px; padding:5px 0;}
.editInfo input{ display:none; width:136px; padding:2px;}
.editInfo label{ width:60px; display:inline-block}
.editInfo span{width:auto; display:inline-block}
.saveBtn, .updateBtn{ margin:15px 0; }
 .edit-input{display:none}
.changePassword span{ color:#006699; padding:10px 0; line-height:30px; display:block;}	
.changePassword input{ padding:5px; border:1px solid #ccc; background:transparent; width:100%; margin-bottom:5px; max-width:200px; clear:both; font-size:13px; display:block;}

	/* Tabs */
.profileRight{padding:0 !important;}

.bookingData{display:none}

.profileRight .tabs{width:100%;}

.profileRight input {  display: none;}

.profileRight label {  display: inline-block;  margin: 0 0 -1px;  padding: 15px 25px; text-align: center;  color: #999; font-weight:normal;  border: 1px solid transparent;}

.profileRight label:before {  font-family: fontawesome;  font-weight: normal;  margin-right: 10px;}

.profileRight label:hover {  color: #333;  cursor: pointer;}

.profileRight input:checked + label {  color: #555;  border-right: 1px solid #ddd; border-left:1px solid #ddd;  border-top: 5px solid #88ba40;  xborder-bottom: 1px solid #fff;}

.profileRight #tab1:checked ~ #upcomingBooking, .profileRight #tab2:checked ~ #pastBooking {  display: block;}

.bookingData{ padding:0 25px;}

.profileRight .tabs .separator{ margin:0;}

.bookingData .profileBookedList{width:100%; border-bottom:1px solid #cccccc; margin:30px 0; padding-bottom:30px;}

.bookingData .profileBookedList:last-child{border:none;}

.bookingData .bookedHotelImg{height:115px;}

.bookingData .bookedHotelInfo{xwidth:100%; border-right: 1px solid #ccc; margin-left:15px;}

.bookedHotelInfo h4.roomTitle{ font-size:16px;}

.bookedHotelInfo .address{ background-image:url(../images/location-icon-small.png); background-repeat:no-repeat; line-height:24px; padding-left:25px; font-size:14px; }

.bookedHotelInfo .stayInfo{ font-size:14px; padding-left:0; margin-top:5px; width:auto; display:inline-block; padding-right:10px; line-height:23px;}

.bookedHotelInfo .pricePerNight{color:#999; font-size:12px; width:auto; display:inline-block; margin-top:10px; border-left: 1px solid #ccc; padding-left:10px;} 

.bookedHotelInfo .pricePerNight span{ font-family:"Roboto-Medium"; font-size:16px; color:#006699;}

.profileBookedList .datePlanning{ font-size:14px; font-family:"Roboto-Light"; margin-top:5px; padding-left:30px; }

.profileBookedList .datePlanning span{font-family:"Roboto-Regular"}

.profileBookedList .datePlanning a{background-color:#FFF; border:1px solid #cccccc; color:#006699; margin-top:30px;}

/* Subpage */

.headingBar{ width:100%; padding:20px 20px 60px 20px; background-color:#89bb42;}

.tabMenu{}

.tabMenu li{float:left; width:auto; text-align:center; padding:0 25px; line-height:24px;}

.tabMenu li i {font-size:24px; }

.tabBG{ background-color:#FFF; padding:30px 50px; margin-top:-40px;}

.textContent{font-size:14px; color:#666; line-height:20px;}

.textContent p{ padding-bottom:20px;}

.textContent a{ color:#669933; text-decoration:underline;}

.customContent{font-size:14px; color:#666; line-height:20px; min-height:300px;}

.tabContent h1{ margin: 0 0 40px 0;}

.listCon{ padding-left:40px;}

.tabContent h6{font-family:"Roboto-Medium"; font-size:14px; font-weight:normal; padding:15px 0; text-transform:uppercase;}

.teamCEO{width:auto; margin:0 auto 50px auto; background:#e6e7e8; border:1px solid #cccccc; display:flex; max-width:550px;}

.teamCEO .image{ width:40%; background-color:#FFF; text-align:center; line-height:180px;}

.teamCEO .image img{width:90px; vertical-align:middle;}

.teamCEO .details{ width:60%; padding:37px 20px; font-size:14px;}

.teamCEO .details span{font-size:14px; text-transform:uppercase;}

.teamCEO .details p{ padding-top:15px;}

.ourTeam{display:flex;}

.ourTeam .col-sm-4{padding:0 15px; margin-bottom:30px;}

.teamMembers{width:100%; background-color:#FFF; border:1px solid #cccccc; min-height:200px; height:100%;}

.teamMembers .image{ width:100%; text-align:center; height:150px; line-height:150px; background:#e6e7e8;}

.teamMembers .image img{width:90px; vertical-align:middle;}

.teamMembers .details{ width:100%; padding:20px; font-size:14px; clear:both;}

.teamMembers .details span{font-size:14px; text-transform:uppercase;}

.teamMembers .details p{ padding-top:15px;}

#pressTab .textContent, #webTab .webContent, #socialTab .textContent{padding-bottom:20px; margin-bottom:30px; border-bottom:1px solid #ccc;}

#pressTab .textContent:last-child, #webTab .webContent:last-child, #socialTab .textContent:last-child{border:none; margin:0;}

#pressTab .col-sm-9,#webTab .col-sm-9,#socialTab .col-sm-9{padding-left:25px;}

.webContent{ font-size:14px; color:#666; line-height:20px; display:inline-block;}

.webDetails{line-height:22px;}

.webDetails span{ color:#333333; font-size:26px; line-height:35px; }

.webContent img{margin-bottom:10px;}

.webDetails  p{ padding-top:10px; padding-bottom:10px;}

.webContent a{color:#006699}

.contactAddr { font-size:14px;}

.contactAddr p{ padding-bottom:15px;}

.contactAddr a{ color:#669933; text-decoration:underline;}

.fiveb-fixed{ position:fixed; right:0px; bottom:0%; width:70px; cursor:pointer; z-index:10;}

.popupSearchHotels{ display:none}

.scrollContent{ overflow-y: scroll; overflow-x: hidden;width:100%; height:75px; padding-bottom:15px; font-size: 14px;color: #666666; line-height: 20px;}

/*width:100%; z-index:110; height:100px; position:fixed; background-color:rgba(255,255,255,1); top:0; left:0; padding:0 15px; display:none; border-bottom:1px solid #cfcfcf;*/

.multipleBookingFixedHdr{ position:fixed; top:0; left:0; width:100%; z-index:999; background-color:rgba(255,255,255,1); border-bottom:1px solid #ccc; padding-bottom:20px; height:auto; display:none;}

.desktopFixedHeader{ position:fixed; top:0; left:0; width:100%; z-index:999; background-color:rgba(255,255,255,1); border-bottom:1px solid #ccc; padding-bottom:20px; height:auto; display:none;}

.fixed{
  position: fixed;
  left: 0px;
  top: 0px;
  display: block; z-index:999; width:1000px;
}
#floatingBox{height:96px;}
#openFloatingDiv{width:100%;}

#contentViewBreakUps, #contentViewBreakUps2{display:none; font-size:12px; background:#d9e6c7; color:#000; padding:5px; margin:10px;}
.showViewBreakUps, .showViewBreakUps2{ display:block; cursor:pointer; font-size:12px;color:#006699;  }
.showViewBreakUps2{padding-right:15px;}
/* dwarakesh css */
.popupSearchHotels input {border: none; border-color: transparent;font-size: 1.3rem;font-weight:normal;}
.popupSearchHotels input:focus{outline: none;}
.popupSearchHotels .form-control{background:none;height:44px;border-color:none;box-shadow:none;}
.availCheckBox input { border: none; border-color: transparent;font-size: 1.4rem;font-weight:normal;}
.availCheckBox input:focus{border-color: rgba(126, 239, 104, 0.8);}
.availCheckBox .form-control{background:none;height:44px;border-color:none;box-shadow:none;}
.otherclass {display:block;}
.nondisplay {diplay:none;}
#loader { overflow-x: hidden; overflow-y: hidden; vertical-align: middle; background-color: #fbfbfb; position:fixed; display: table; width: 100%; top:0; height: 100%; min-height: 100%; z-index:99999; }
.loader-container { position: relative; display: table-cell; vertical-align: middle; z-index: 12; text-align:center; }
.loader-back-logo { margin-top:-10px; font-size:26px; }
.loader { margin-top:-20px; margin-left: 0px }
.singleRoomType .roomFacility .icons{padding: 5px 10px; display: inline-block; text-align: center;}
.singleRoomType .update_select_btn .confirmButton{ background-color:#89bb42;color:#ffffff; cursor:pointer;padding: 10px 20px;}
.singleRoomType .update_select_btn .soldButton{background: #e6e7e8;color:#FF0000; cursor:pointer;padding: 10px 20px;}
.selected .confirmButton {color:#ffffff !important;background:#006699 !important; outline:white solid 0.5px ; content:'SELECTED'; visibility: visible;   }
.otherclass  { transition: all 10s linear;position:absolute; top:49px; left:80%; width:20%; background:#FFF; border:1px solid #e6e7e8; -webkit-box-shadow: 3px 3px 10px 4px rgba(0,0,0,0.2); -moz-box-shadow: 3px 3px 10px 4px rgba(0,0,0,0.2); box-shadow: 3px 3px 10px 4px rgba(0,0,0,0.2); padding:25px; display:block;}
.otherclass ul li{margin:15px 0; line-height:20px; text-align:left;}
.otherclass ul li:first-child{margin-top:0;}
.otherclass ul li:last-child{margin-bottom:0;}
.otherclass ul li a{font-size:14px; color:#666666; font-family:'Roboto-Light';transition: 0.4s;}
.otherclass ul li a:hover{color:#000;transition: 0.4s;}
.seotitle {padding:5px;}
.seopara a{color:#9b9b9b;}
.seopara p{color:#9b9b9b;}
.seopara h1{color:#4a4a4a;}
.seopara h2{color:#4a4a4a;}
.seopara h3{color:#4a4a4a;}
.seopara h4{color:#4a4a4a;}
.seopara h5{color:#4a4a4a;}
.seopara h6{color:#4a4a4a;}
.seopara {color:#9b9b9b;text-align:justify;}
.guestForm input:focus{outline: none;}
.seopara .morecontent span { display: none; } 
.seopara .morelink { display: block;color:#5768e9; }
.pricedrop{color:red !important;}
.bookedRooms .offdetail{    font-size: 14px !important;color: #666666; }
.quickSold{ padding:23px 20px; background-color:#e6e7e8;  display:inline-block; vertical-align:top;}
.quickSold a{color:#FF0000 !important;}
.policyhead{text-transform:uppercase;}
.hotelContent h5{color:#000;text-transform:uppercase;}
.hotelland p{text-transform:capitalize;}
.hotelpolicydetail strong{text-transform:uppercase;}
.hotelpolicydetail ul li{text-transform:capitalize;padding:5px;font-size:14px;}
.hotelpolicydetail ul li:before {content: "\2713";color: darkgreen;padding:5px;}
.hotelpolicydetail ol li{text-transform:capitalize;padding:5px;font-size:14px;color:darkgreen;}
.hotelpolicydetail ol li:before {content: "\2713";color: darkgreen;padding:5px;}
.review-item{border:none !important;}
.review-item .review-text{text-align:justify;line-height:1.35em;color:#666666;font-size:15px;}
.review-item .review-author{font-weight:normal;font-size:16px;}
.ratingReview .roomReview .reviewpoint{color:#000;font-size:20px;font-weight:bold;text-align:center;margin-left:30px;}
.ratingReview .roomReview .review_count{margin-left:10px;}
.ratingReview .reviewmargin{border:none;padding:5px;}
.ratingReview .marginreview {border:1px solid #006699;}
.ratingReview .tripreview img{padding:5px;display:block;margin:0 auto;}
.ratingReview .tripreview .triplogo{display:block;margin:0 auto;}
/* ulo payment paymentfinal */
.paymentborder{border:1px solid #E2E2E2;padding:5px;}
.payhoteldetail .caption{position: absolute;bottom:0;margin: 0;color: #fff;background-color:#115D81;padding:5px;width:100%;}
.payhoteldetail .caption h4{color:#ffffff;font-size:16px;}
.payhoteldetail .caption .checked{color:#ff6600;font-size:12px;}
.payhoteldetail .caption .unchecked{font-size:12px;}
.payhoteldetail .caption .hoteladdress{font-size:14px;}
.paymentfinal .dateinfo .roominfo{font-size:24px;padding:10px;}
.paymentfinal .dateinfo .nightinfo{color:#959595;font-size:12px;}
.paymentfinal .dateinfo .extrainfo{color:#000;font-size:12px;padding:5px;display:block;}
.paymentfinal .dateinfo .extrainfo .fa-check{color:darkgreen;font-size:18px;}
.paymentfinal .dateinfo .extrainfo ul{list-style: none outside none; margin:0; padding: 0; }
.paymentfinal .dateinfo .extrainfo ul li{margin: 0 5px; display: inline;color:#000;}
.paymentfinal .dateinfo {paddding:15px;}
.paymentfinal .dateinfo h3{font-size:14px;}
.paymentfinal .linepay{margin-top:20px;}
.paymentfinal .dateinfo label{font-size:13px;font-weight:normal;color:#959595;padding:5px;}
.paymentfinal .dateinfo hr{border:1px solid #E2E2E2;}
.paymentfinal .guestinfo h3{color:#006699;padding:10px;}
.paymentfinal .guestinfo .splneed{color:#959595;font-size:12px;}
.paymentfinal .payinfo {padding:10px;border:1px solid #E2E2E2;}
.paymentfinal .payinfo h3{color:#006699;}
.paymentfinal .payinfo label{padding:10px;font-size:14px;}
.paymentfinal .payinfo .rateinfo{float:right;}
.paymentfinal .payinfo .subtotal{border:1px solid #E2E2E2;}
.paymentfinal .payinfo .totalsave{color:#89bb42}
.paymentfinal .payinfo .subcoupon a{color:#006699;padding:20px;font-weight:bold;font-size:14px;display:block;}
.paymentfinal .rateinfo .strike{ color:#f72e00; position:relative;font-size:12px;}
.paymentfinal .rateinfo .strike::after {    content:"";    position:absolute;    top:50%; left:0; width:100%; height:1px;     background:#f72e00;    transform:rotate(0deg);}
.paymentfinal .paydetail .couponname {color:#f72e00;font-size:10px;border:1px solid #f72e00;padding:1px;}
.paymentfinal .paydetail .couponpercent {color:#959595;font-size:10px;display:block;}
.paymentfinal .paydetail .uloterms {color:#959595;font-size:11px;text-transform:capitalize;text-align:justify;}
.paymentfinal .paydetail .uloterms a {color:#006699;font-size:11px;text-transform:capitalize;text-align:justify;}
.paymentfinal hr{border:1px solid #E2E2E2;}
