<html>
<body>
Hi ${name},

<p>You recently requested a payment link request.</p>
<p>Name: ${name}</p>
<p>Email: ${email}</p>
<p>Subject: ${subject}</p>
<p>Message: ${link}</p>

Regards,<br/>
${from}.
</body>
</html>