<html>
<body>
Hi ${to},


<p>your otp is ${otp}</p>
<p>If you did not request a password change, you may ignore this message and your password will remain unchanged.</p>
 
Regards,<br/>
${from}.
</body>
</html>