html,
body {
  min-height: 100%;
   width : 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
  color: #125e90 !important;
  text-transform: uppercase;
}
/* blog header begins */
/* blog header begins */
.blogheader{
border-bottom: 5px solid #e6e6e6;	
	
}
.blogheader .hotellink{
	text-align:right;
	padding : 5px;
}
.blogheader .hotellink a{
	background-color: #125e90;
	color:#ffffff;
	font-size: 12px;
	padding: 5px;	
	white-space:nowrap;
	overflow:hidden;
}

.blogheader .bloglogo img{
	 margin: 0 auto;
	 height : 100px;
	 width : 200px;
	 display : block;

}
.menucategory ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menucategory li {
    float: left;
}

.menucategory li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    white-space:nowrap;
	overflow:hidden;
}

/* Change the link color to #111 (black) on hover */
 .menucategory li a:hover {
    background-color: #111;
}

