@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
  min-height: 100%;
   width : 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
font-family: 'Open Sans', sans-serif;
  color: #125e90 !important;
  text-transform: uppercase;
}
/* blog header begins */
/* blog header begins */
.blogheader{
	border-bottom: 5px solid #e6e6e6;	

}
.blogheader .hotellink{
	text-align:right;
	padding : 5px;
}
.blogheader .hotellink a{
	background-color: #125e90;
	color:#ffffff;
	font-size: 12px;
	padding: 5px;	
	white-space:nowrap;
	overflow:hidden;
}

.blogheader .bloglogo img{

	 height : 100px;
	 width : 200px;
     float : right;
}

.navbar-default{
	
	border : none;
}
.navbar{
	margin-bottom:0;
}
.navbar-default .navbar-nav > li > a {
    color: #232323;
    font-weight:bold;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #e0ebf1;
    color:#125e90;
    font-weight:bold;
    border-bottom:5px solid #125e90;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
      background-color: #e0ebf1;
      
          border-bottom:5px solid #125e90;
}
.navbar-default{
	background-color:#fff;
}
.blogheader .social{
	float:right;
	padding:5px;
}
  .blogheader .social a {
     color: #999999;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    vertical-align: bottom;
    border : 2px solid #125e90;
     margin-right: 0.5em;
    }
    .blogheader .social a:hover{
    background-color:#fff;
      color:#959595;
    }
 /* header carousal begins */
 /* Carousel Header Styles */
 .homecarousal .carousel-inner img{
 height:500px;
 width:100%;
 padding: 5px;
 }
  .homecarousal .carousel-control .glyphicon-chevron-lefts,  .homecarousal .carousel-control .glyphicon-chevron-rights,  .homecarousal .carousel-control .icon-prev,  .homecarousal .carousel-control .icon-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
  .homecarousal .carousel-control.left ,   .homecarousal .carousel-control.right{
  background:none;
  }
   .homecarousal .carousel-control .glyphicon-chevron-lefts,  .homecarousal .carousel-control .icon-prev {
    margin-left: -25px;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 30px;
     color: #ffffff;
}

.header-text h2 span {
 color: #ffffff;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}
/* carousal ends */
/*   blog home content list Begins   */
.bloglist{
	padding:5px;
}
.bloglist .blogbox{
	border-bottom:1px solid #d5d4d4;
	padding:5px;
}

.bloglist .publishdate{
	background-color:#959595;
	color:#ffffff;
	padding:5px;
	font-size:12px;
	float:left;
}
.bloglist .imagelist{
	width:100%;
	height:200px;
	padding:5px;
	
}
.bloglist p{
color:#959595;
text-align:justify;
 height: 6em;       /* height is 2x line-height, so two lines will display */
overflow: hidden;	
    padding-top: 4px;
}
/* home page desination */
.blogdestination{
padding:5px;	
}
.blogdestination .bloglistfive{
	display:block;
margin: 0 auto;
text-align: center ;
}
/* .blogdestination .fiveshow{
	background-color:red;
	 overflow-x: scroll;
	 width:600px;
} */
.blogdestination img{
padding:5px;
display:block;
margin: 0 auto;
}
.blogdestination .bloglistfive .centered{
	    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff !important;
    font-size:16px;
}
.blogdestination h5{
	text-transform:capitalize;
	text-decoration:underline;
}
.blogdestination .blogbox{
	border-bottom:1px solid #d5d4d4;
	padding:5px;
}
/* blog footer begnins */
.blogfooter{
	background-color:#f4f4f4;
	height:auto;
}
.blogfooter .footerlogo img{
	height:100px;
	padding:5px;
}
.blogfooter .footerlogo p{
	color:#1e1e1e;
	text-align:justify;
	padding:5px;
}
.blogfooter .popularlist img{
	padding:5px;
	width:90px;
	height:90px;
}
.blogfooter .popularlist p{
	text-transform:capitalize;
	color:#1e1e1e;
	padding:5px;
	font-weight:500;
}
.blogfooter .popularlist span{
	text-transform:capitalize;
	color:#1e1e1e;
	font-weight:bold;
	font-size:12px;
}
.blogfooter .footersocial ul{
	list-style:none;
	
}
.blogfooter .footersocial ul li a{
	padding:5px;
	color:#959595;
	font-size:14px;
	
}
.blogfooter .footersocial .fa{
	padding:5px;
	
}

/* ULO BLOG LIST PAGE BEGINS */
.blogwall img{
	height:500px;
	padding:5px;
	width:100%;
	
}
.blogwall .header-text {
    position: absolute;
    top: 50%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.blogwall .header-text h2 {
    font-size: 30px;
     color: #ffffff;
}
.blogwall .header-text p {

     color: #ffffff;
      overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.bloglistview img{
	height:300px;
	width:100%;
	padding:5px;
}
.bloglistview h3{
	font-size:20px;
	padding:5px;
	text-transform:capitalize;
	
}
.bloglistview p{
	text-align:justify;
	padding:5px;
	      overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color:#959595;
	
}
.bloglistview .publishdate{
	background-color:#959595;
	color:#ffffff !important;
	padding:5px;
	font-size:12px;
	float:right;
	font-weight:normal;

}
/* ULO BLOG LIST PAGE ENDS */
/* ULO BLOG LIST DETAIL  BEGINS */
.blogdetailwall{
	padding:10px;
}
.blogdetailwall h2{
	text-align:justify;
	text-transform:capitalize;
	color:#1e1e1e !important;
}
.blogdetailwall ul{
padding:5px;
text-align:center;
list-style:none;
font-weight:bold;
color:#959595;
}
.blogdetailwall ul li{

	text-transform:capitalize;
}
.blogdetailwall p{
	color:#959595;
	font-size:15px;
	text-align:justify;
	padding:5px;
	line-height:25px;

}
.blogdetailwall img{
display:block;
margin:0 auto;
padding:5px;

}
.blogshare{
	paddng:5px;
}

.blogreplay{
	padding:5px;
	background-color:#e5e5e5;
}
.blogreplay h6{
	color: #1e1e1e !important;
	padding:5px;
}
.blogreplay .btn-successs{
	/* backgroud-color:#b5b5b5 #89bb42 !important; */
	backgroud-color:#89bb42 !important;
	margin:5px;
	padding:5px;
	color:#1e1e1e;
	
}
.pageset{
	padding:5px;
}
.pageset .btn-success{
	background-color:#89bb42;
	padding:5px;
	border:none;
	margin:5px;
}
.pageset .btn-success:hover{
	background-color:#89bb42;
}
.bloglistview h3{
	text-transform:uppercase;
}
#loader { overflow-x: hidden; overflow-y: hidden; vertical-align: middle; background-color: #fbfbfb; position:fixed; display: table; width: 100%; top:0; height: 100%; min-height: 100%; z-index:99999; }
.loader-container { position: relative; display: table-cell; vertical-align: middle; z-index: 12; text-align:center; }
.loader-back-logo { margin-top:-10px; font-size:26px; }
.loader { margin-top:-20px; margin-left: 0px }
/* ULO BLOG LIST DETAIL ENDS */
/* media queries for blog home page begins */
@media only screen and (max-width: 480px) {
	/* Carousel Header Styles */
 .homecarousal .carousel-inner img{
 height:200px;
 width:100%;
 padding: 5px;
 }
  .homecarousal .carousel-control .glyphicon-chevron-lefts,  .homecarousal .carousel-control .glyphicon-chevron-rights,  .homecarousal .carousel-control .icon-prev,  .homecarousal .carousel-control .icon-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
  .homecarousal .carousel-control.left ,   .homecarousal .carousel-control.right{
  background:none;
  margin-right:25px;
  }
   .homecarousal .carousel-control .glyphicon-chevron-lefts,  .homecarousal .carousel-control .icon-prev {
    margin-left: -25px;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 30px;
     color: #ffffff;
}

.header-text h2 span {
 color: #ffffff;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}
/* carousal ends */
.blogdestination .img{
	width:100%;
	height:200px;
	padding:5px;
	display:none;
	
}
.blogheader .bloglogo img{

	 height : 100px;
	 width : auto;
  vertical-align: middle !important;
}
.blogwall img{
	height:200px;
	padding:5px;
	width:100%;
	
}
.bloglistview img{
	height:250px;
	width:100%;
	padding:5px;
}
.blogdetailwall img{
display:block;
margin:0 auto;
padding:5px;
width:100%;
height:auto;
}
}
/* thumbail carousal */
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
/* ulo blog changes */
.carousel2 {
  position: relative;
}
.carousel-inner2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner2 > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner2 img{
width:100px;
height:100px;
}
.carousel-inner2 > .item > img,
.carousel-inner2 > .item > a > img {
  line-height: 1;
}

.carousel-inner2 > .active,
.carousel-inner2 > .next,
.carousel-inner2 > .prev {
  display: block;
}
.carousel-inner2 > .active {
  left: 0;
}
.carousel-inner2 > .next,
.carousel-inner2 > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner2 > .next {
  left: 100%;
}
.carousel-inner2 > .prev {
  left: -100%;
}
.carousel-inner2 > .next.left,
.carousel-inner2 > .prev.right {
  left: 0;
}
.carousel-inner2 > .active.left {
  left: -100%;
}
.carousel-inner2 > .active.right {
  left: 100%;
}
.carousel-control2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control2.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control2.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control2:hover,
.carousel-control2:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control2.icon-prev,
.carousel-control2 .icon-next,
.carousel-control2 .glyphicon-chevron-left,
.carousel-control2 .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control2 .icon-prev,
.carousel-control2 .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control2 .icon-next,
.carousel-control2 .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control2 .icon-prev,
.carousel-control2 .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control2 .icon-prev:before {
  content: '\2039';
}
.carousel-control2 .icon-next:before {
  content: '\203a';
}
.carousel-indicators2 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators2 li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators2 .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption2 {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption2 .btn {
  text-shadow: none;
}

/*details  Section */