@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
body{
	font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    background-color:#031627;
	margin: 0;
	height: 100%; 
	overflow: scroll;
	font-size:12px;
}
a{
text-decoration:none !important;	
}
/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: #a9e006 !important;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.nodisplay{
	display:none;
}
/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  /* is width and height divided by two */
}

.spinner-sm:after,
.spinner-sm:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.loader:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #214577;
  border-bottom-color: #214577;
  animation: spinny 0.8s linear infinite;
}

/* login page begins */
.utlogheader{

}

.utlogo{
	
}
.utlogo img{
	float:left;
	padding:5px;
}
.utlogin{
	background-color:#031627;

}
.utlogin .input-group{
padding:5px;
}
.utlogin .loginnote{
	
}
.utlogin .loginnote h1{
	color:#fff;
	text-align:center;
	text-transform:capitalize;
	font-weight:bold;
	font-size:30px;
	padding:10px;
}
.utlogin .loginnote .ulotelcentral{
	margin:0 auto;
	display:block;
	margin-top:40px;
	
}
.utlogin .uloform {
	padding:10px;
	margin:10px;
	
}
.utlogin .loginicon{
	padding:10px;
	margin: auto;
	//max-width:800px; 
}
.utlogin .loginicon img{
margin: 0 auto;
display:block;
}
.utlogin .loginicon p{
	display:block;
	margin:0 auto;
	color:#ffffff;
	text-align:center;
	text-transform:capitalize;
	font-size:13px;
}
.utlogin .loginform .form-control {
	background-color:#fff;
	border:none;
	border-bottom:1px solid #031627;
	box-shadow:none;
	border-radius:0;
	color:#031627;
}
.utlogin .loginform .form-control :focus{
	background-color:#fff;
	border:none;
	box-shadow:none;
	border-bottom:1px solid #031627;
	border-radius:0;
}
.utlogin .loginform .ulcb{
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
	color:#5D5D5D;
	font-weight:normal;
	margin-left:15px;
}
.btnconfirm{
	background-color:#94D12B;
	color:#03182B;
}
.utlogin .loginform .form-horizontal{
	//background-color:#fff;
}

.utlogin .loginform .flink a{
   color:#4485FD;
   text-decoration:none;
   float:right;
   padding:5px;
      margin:5px;
}

.utlogin .circle-tile {
    margin-bottom: 15px;
    text-align: center;
 
 
}
.utlogin .circle-tile-heading {
    border: 2px solid #94D12B;
    border-radius: 100%;
    color: #94D12B;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
      background:#fff;
}
.utlogin .circle-tile-heading .fa {
    line-height: 80px;
     
}
.utlogin .circle-tile-content {
       padding-top: 50px;
       background-color:#fff;
       border:1px solid #94D12B;
       border-radius:5px;
}
.utlogin .circle-tile-content p{
	font-weight:bold;
	text-align:center;
}
.utlogin hr{
	display: block;
    height: 5px;
    border: 0;
    border-top: 3px solid #94D12B;
    margin: 0 auto;
    padding: 0; 
    max-width:640px;
}
.utlogin footer{
	padding:0;
	height:0px;
}
.utlogin footer img{
	opacity: 0.5;
    filter: alpha(opacity=50);
    margin:0px;
     clear:both;
   position: fixed;
    bottom: 0;
  
}
.utlogin .loginform .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.utlogin .loginform .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  left:5px;
}

.utlogin .loginform .form-control:focus + .form-control-placeholder,
.utlogin .loginform .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
/* login page ends #94D12B */
/* forgot password page */
.utforgotpassword{
	background-color:#031627;
}
.utlogo img{
	float:left;
	padding:5px;
}
.utforgotpassword{
	background-color:#031627;

}
.utforgotpassword .input-group{
padding:5px;
}
.utforgotpassword .loginnote{
	
}
.utforgotpassword .loginnote h1{
	color:#fff;
	text-align:center;
	text-transform:capitalize;
	font-weight:bold;
	font-size:26px;
}
.utforgotpassword .loginnote .ulotelcentral{
	margin:0 auto;
	display:block;
	margin-top:40px;
	
}
.utforgotpassword .uloform {
	padding:10px;
	margin:10px;
	
}
.utforgotpassword .loginicon{
	padding:10px;
	margin: auto;
	//max-width:800px; 
}
.utforgotpassword .loginicon img{
margin: 0 auto;
display:block;
}
.utforgotpassword .loginicon p{
	display:block;
	margin:0 auto;
	color:#ffffff;
	text-align:center;
	text-transform:capitalize;
	font-size:13px;
}
.utforgotpassword .loginform .form-control {
	background-color:#fff;
	border:none;
	border-bottom:1px solid #031627;
	box-shadow:none;
	border-radius:0;
	color:#031627;
}
.utforgotpassword .loginform .form-control :focus{
	background-color:#fff;
	border:none;
	box-shadow:none;
	border-bottom:1px solid #031627;
	border-radius:0;
}
.utforgotpassword .loginform .ulcb{
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
	color:#5D5D5D;
	font-weight:normal;
	
}
.utforgotpassword .loginform .btnconfirm{
	background-color:#94D12B;
	color:#03182B;
	margin:5px;
}
.utforgotpassword .loginform {
	padding:5px;
}

.utforgotpassword .loginform .flink a{
   color:#4485FD;
   text-decoration:none;
   float:right;

}

.utforgotpassword .circle-tile {
    margin-bottom: 15px;
    text-align: center;
 
 
}
.utforgotpassword .circle-tile-heading {
    border: 2px solid #94D12B;
    border-radius: 100%;
    color: #94D12B;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
      background:#fff;
}
.utforgotpassword .circle-tile-heading .fa {
    line-height: 80px;
     
}
.utforgotpassword .circle-tile-content {
       padding-top: 50px;
       background-color:#fff;
       border:1px solid #94D12B;
       border-radius:5px;
}
.utforgotpassword .circle-tile-content p{
	font-weight:bold;
	text-align:center;
}
.utforgotpassword hr{
	display: block;
    height: 5px;
    border: 0;
    border-top: 3px solid #94D12B;
    margin: 0 auto;
    padding: 0; 
    max-width:640px;
}
.utforgotpassword footer{
	padding:0;
	height:0px;
}
.utforgotpassword footer img{
	opacity: 0.5;
    filter: alpha(opacity=50);
    margin:0px;
     clear:both;
   position: fixed;
    bottom: 0;
  
}
.utforgotpassword .loginform .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.utforgotpassword .loginform .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  left:5px;
}

.utforgotpassword .loginform .form-control:focus + .form-control-placeholder,
.utforgotpassword .loginform .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
/* forgot password page */
/* landing page  */
.ulotellanding{
	background:#02172A;
}
.ulotellanding .demo{
  // opacity: 0.5;
    margin: 0 auto;
    display:block;
    text-algn:center;
    height:auto;
    margin-top:25%;
   background: rgba(12, 12, 12, 0.68);
    padding: 3em 2em 2em 2em;
    width:400px;
	
}
.ulotellanding .demo .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.ulotellanding .demo .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.ulotellanding .demo .form-control:focus + .form-control-placeholder,
.ulotellanding .demo .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.ulotellanding .demo #panel a li{
	color:#069 !important;
	margin:5px;
	text-align:justify;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	padding:5px;
}
.ulotellanding .demo #panel ul li:hover{
background-color:#693;
color:#fff;
}
.ulotellanding .demo #panel ul li a:hover{
background-color:#693;
color:#fff;
}
.ulotellanding .demo #panel li{

	color:#000 !important;
	list-style-type:none;
	
	
}
.ulotellanding .demo #panel ul{

  width:100%;
  background-color:#fff;
  margin:0px;
  padding:5px;

}
.ulotellanding .demo #panel ul li{
	border-bottom:1px solid #ddd;
	padding:5px;
}
.ulotellanding .demo #panel{
	background-color:#fff;
    margin-top:-15px;
    	height:300px;
  overflow-y: scroll;
  padding:0px;
   margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
	/* color: #000;
    border-bottom: none;
    //margin: 10px 0 10px 5px;
    padding: 5px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-family: lato-semibold,Arial,Helvetica,sans-serif;
    cursor: default;
    background-color:#fff;
    margin-top:-15px;
    */
}

/* baselayout begins */
.ulo-header{
background-color:#05253A;
padding:5px;
color:#fff;
}
.navbarlist{
color:#fff;
}
.navbartime{
	color:#fff;
	font-size:16px;
}
.navbartime .fa{
	color:#94D12B;
}
.unhov > a:hover{
	background:none !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #00080B;
    border-color: #337ab7;
}
.navbar-custom-menu .sideborder{
	border-right:2px solid #fff;
}
.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
  border:1px solid #94D229;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
  background-color:#05253A;
}
.dropdown a{
	color:#fff;
}
.dropdown-menu{
background-color:#05253A;
}
.user-footer{
background-color:#00080B !important;	
}
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  color: #fff;
  background: #00080B;

}
.main-sidebar,
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  background-color:#02172A;
  color:#fff;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  color:#fff;
  font-size: 13px;
}
.sidebar-menu > li > a:hover {
background-color:#00080B;
 border-right:5px solid #94D12B;
 box-shadow: 0px 0px 10px black; 
}
.sidebar-menu .treeview-menu > li > a:hover{
	background-color:#00080B;
	 border-right:5px solid #94D12B;
	 box-shadow: 0px 0px 10px black; 
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 12px;
  color:#fff;
}
.sidebar-menu img{
	padding:5px;
}
/* footer */
.main-footer {
  background: #05253A;
  padding: 15px;
  color: #fff;
  border-top: 1px solid #d2d6de;
}
/* footer */
/* view body */
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #cccccc;
  z-index: 800;
}
/* view dashboard */
.dashboard h3{
	font-size:20px;
}
.dbnote{
	background-color:#FFFFFF;
}
.dbnote h1{
color:#999999;
text-transform:capitalize;
font-size:20px;
}
.dbnote .uname{
color:#02172A;
text-transform:capitalize;
font-size:20px;
font-weight:bold;
border-bottom:2px solid #94D12B;
}
.dashicons{
	background-color:#fff;
}
.dashicons img{
	padding:5px;
	float:right;
   margin-top:10px;
}
.dashicons h2{
		font-size:24px;
	font-weight:bold
		color:#545454;
}
.dashicons .detmar{
	margin-top:5px;
}
.dashicons .iconname{
	color:#545454;
	font-size:26px;
	font-weight:bold;
   text-align:center;
}
.dashicons .iconname2{
	color:#545454;
	font-size:16px;
	font-weight:bold;
   text-align:center;
}
.dbtodaylistbg{
	background-color:#fff;
	min-height:auto;
}
.dsearch .dbsearch{
	color:#02172A;
	border:1px solid #DDDDDD;
	border-right:0;
}
.dsearch .btn{
	color:#02172A;
	border:1px solid #DDDDDD;
	background:none;
	border-left:0;
}
.dsearch .btn:hover{
		border-right:0;
	background:none;
}
.dsearch .dbsearch:focus{
	color:#02172A;
	border:1px solid #DDDDDD;
		border-right:0;
}
.dbtodaylistbg table > thead >tr >th{
	color:#1F69B2;
}
.dbtodaylistbg .vmore{
	background-color:#02172A;
	color:#fff;
}
.dbtodaylistbg .dbbkid{
	border:1px solid #F25E22;
	padding:3px;
	color:#F25E22
}
.dbtodaylistbg .dbbkid:hover{
 -webkit-box-shadow: -100px 0 0 #31708f inset;
 color:#fff;

}
.dbform .modal-header{
	border:none;
}
.dbform .modal-footer{
	border:none;
}
.dbform .savebtn{
	background:#02172A;
	border:1px solid #02172A;
	color:#fff;
}
.dbtodayavailable .dbprice{
background-color:#FFFFFF;
}
.dbtodayavailable .dbprice table > thead >tr >th{
	color:#1F69B2;
}
.dbtodayavailable .dbrevenue h3{
	color:#fff;
}
.dbtodayavailable .dbrevenue{
background-color:#02172A;
}
.dbtodayavailable .dbrevenue .form-control{
font-size:10px !important;
text-align:center;
}
.dbtoday {
	background-color:#fff;
}
.dbrevenue table > thead >tr >th{
	color:#fff;
	text-align:center;
}
.dbrevenue table{
	color:#fff;
	text-align:center;
}
.dbrevenue .btn-search{
	background:#fff;
	color:#02172A;
}
.dbrevenue .btn-search:hover{
	background:#f8961f    ;
	color:#fff;
	border:1px solid #fff;
}
/* common css */
.btn-secondary{
	background-color:#f56954;
	color:#fff;
	border:1px solid #f56954;
}
/* dashboard bootstrap pagination */
.pagination {
    margin: 0px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul>li {
    display: inline;
}

.pagination ul>li>a,
.pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul>li>a:hover,
.pagination ul>li>a:focus,
.pagination ul>.active>a,
.pagination ul>.active>span {
    background-color: #f5f5f5;
}

.pagination ul>.active>a,
.pagination ul>.active>span {
    color: #999999;
    cursor: default;
}

.pagination ul>.disabled>span,
.pagination ul>.disabled>a,
.pagination ul>.disabled>a:hover,
.pagination ul>.disabled>a:focus {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.pagination ul>li:first-child>a,
.pagination ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.pagination ul>li:last-child>a,
.pagination ul>li:last-child>span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination-large ul>li>a,
.pagination-large ul>li>span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul>li:first-child>a,
.pagination-large ul>li:first-child>span {
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-large ul>li:last-child>a,
.pagination-large ul>li:last-child>span {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-mini ul>li:first-child>a,
.pagination-small ul>li:first-child>a,
.pagination-mini ul>li:first-child>span,
.pagination-small ul>li:first-child>span {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-mini ul>li:last-child>a,
.pagination-small ul>li:last-child>a,
.pagination-mini ul>li:last-child>span,
.pagination-small ul>li:last-child>span {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

.pagination-small ul>li>a,
.pagination-small ul>li>span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul>li>a,
.pagination-mini ul>li>span {
    padding: 0 6px;
    font-size: 10.5px;
}

.pager {
    margin: 20px 0;
    list-style: none;
    text-align: center;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
    line-height: 0;
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li>a:hover,
.pager li>a:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next>a,
.pager .next>span {
    float: right;
}

.pager .previous>a,
.pager .previous>span {
    float: left;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    color: #999999;
    background-color: #fff;
    cursor: default;
}
/* dashboard bootsrap pagination */
.btnnextdays{
	padding:5px;
	margin:5px;
	background-color:#a9e006 !important;
	box-shadow:none;
	border:none;
}
/* Property Profile */
/* .hotelimagesection p{
	text-transform:capitalize !important;
	font-size:12px !important;
}
#hotelProfile .nav-tabs-custom > .nav-tabs > li.active > a{
	background-color:#FF5722!important;
	color:#ffffff !important;
	
}
.hotelimagesection .panel-default>.panel-heading {
    color: #fff;
       background-color: #607D8B;
    border-color: #ddd;
    
}
.hotelinventorysection .panel-default>.panel-heading {
   color: #fff;
       background-color: #607D8B;
    border-color: #ddd;
}
.hotelrateplansection .panel-default>.panel-heading {
  color: #fff;
       background-color: #607D8B;
    border-color: #ddd;
}
.hotelamenitiessection .panel-default>.panel-heading {
   color: #fff;
       background-color: #607D8B;
    border-color: #ddd;
}
.hoteladdonsection .panel-default>.panel-heading  {
 color: #fff;
       background-color: #607D8B;
    border-color: #ddd;
}
#hotelProfile .nav-tabs-custom > .nav-tabs > li.active{
	border-top-color: #ffffff;
}
#hotelProfile .page-header {
    padding-bottom: 9px;
    margin: 5px 0 10px;
    border-bottom: 1px solid #D1CFB0;
    font-size: 18px;
    color:#5D4037;
}
#hotelProfile label {
    color: #303F9F !important;
    font-size: 12px;
} */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: #FA1717 !important;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
#loadertwo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url(http://www.marcorpsa.com/ee/images/loading2.gif) no-repeat center center;
  z-index: 10000;
}