@media (max-width: 767px){
	.main-header {
    position: relative;
    height:auto
}
}
@media (min-width: 320px) and (max-width: 480px) {
	.main-header {
  position: relative;
  max-height: 100%;
  z-index: 1030;
}
  .utlogin .loginnote h1{
	color:#fff;
	text-align:center;
	text-transform:capitalize;
	font-weight:bold;
	font-size:16px;
}
.utlogin .loginnote .ulotelcentral{
	margin:0 auto;
	display:block;
	margin-top:0px;
	padding:0px;
	
}
.utlogin .loginform .ulcb{
	font-size:12px;
	color:#5D5D5D;
	font-weight:normal;
	margin-left:0
}
.utlogin footer{
	padding:0;
	height:0px;
}
.utlogin footer img{
	opacity: 0.5;
    filter: alpha(opacity=50);
    margin:0px;
         clear:both;
   position: relative;
    bottom: 0;
   
}
.utforgotpassword .loginnote h1{
	color:#fff;
	text-align:center;
	text-transform:capitalize;
	font-weight:bold;
	font-size:16px;
}
.utforgotpassword .loginnote .ulotelcentral{
	margin:0 auto;
	display:block;
	margin-top:0px;
	padding:0px;
	
}
.utforgotpassword footer{
	padding:0;
	height:0px;
}
.utforgotpassword footer img{
opacity: 0.5;
    filter: alpha(opacity=50);
    margin:0px;
         clear:both;
   position: relative;
    bottom: 0;
   
}
/* baselayout */
.ulo-header{
background-color:#05253A;
padding:5px;
color:#fff;
}
.navbarlist{
color:#fff;
}
.navbartime{
	color:#fff;
	font-size:16px;
}
.navbartime .fa{
	color:#94D12B;
}
.unhov > a:hover{
	background:none !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #00080B;
    border-color: #337ab7;
}
.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
  border:1px solid #94D229;
}
.dropdown a{
	color:#fff;
}
.dropdown-menu{
background-color:#05253A;
}
.user-footer{
background-color:#00080B !important;	
}
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  color: #fff;
  background: #00080B;
}
.main-sidebar,
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  background-color:#02172A;
  color:#fff;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  color:#fff;
}
.sidebar-menu > li > a:hover {
background-color:#00080B;
}
.sidebar-menu .treeview-menu > li > a:hover{
	background-color:#00080B;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  color:#fff;
}  
  
}